{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
    	<div class="container-fluid">
			<div class="row">
				<ul class="breadcrumb">
                    {% for breadcrumb in breadcrumbs %}
						<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endfor %}
				</ul>
			</div>
			<h1><i class="fa fa-truck"></i> {{ heading_title }} v. {{ v }}</h1>
			<div class="pull-right">
				<a id="button-save" class="btn btn-primary" role="button">{{ button_save_cn }}</a>
				<a href="{{ cn_list }}" data-toggle="tooltip" title="{{ button_cn_list }}" class="btn btn-default" role="button"><i class="fa fa-list-ul"></i></a>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-danger" role="button"><i class="fa fa-reply"></i></a>
			</div>
    	</div>
  	</div>
  	<div class="container-fluid">
  		{% for error in error_warning %}
			<div class="alert alert-danger">
				<i class="fa fa-exclamation-circle"></i> {{ error }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
    	{% endfor %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-file-text-o" aria-hidden="true"></i> {{ text_form }}</h3>
			</div>
			<div class="panel-body">
				<form class="form-horizontal">
					<div class="row">
						<div class="col-sm-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">{{ text_sender }}</h3>
								</div>
								<div class="panel-body">
									<div class="form-group">
										<label class="col-sm-3 control-label" for="input-sender">{{ entry_sender }}</label>
										<div class="col-sm-9">
											<select name="sender" id="input-sender" class="form-control">
												<option value="">{{ text_select }}</option>
												{% for v in senders %}
													<option value="{{ v.Ref }}"{{ v.Ref == sender ? ' selected="selected"' }}>{{ v.Description }}{{ v.CityDescription ? ', ' ~ v.CityDescription }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label" for="input-sender_contact_person">{{ entry_contact_person }}</label>
										<div class="col-sm-9">
											<select name="sender_contact_person" id="input-sender_contact_person" class="form-control">
												<option value="">{{ text_select }}</option>
												{% for v in sender_contact_persons %}
													<option value="{{ v.Ref }}"{{ v.Ref == sender_contact_person ? ' selected="selected"' }}>{{ v.Description ~ ', ' ~ v.Phones }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label" for="input-sender_contact_person_phone">{{ entry_phone }}</label>
										<div class="col-sm-9">
											<input type="text" name="sender_contact_person_phone" value="" placeholder="{{ entry_phone }}" id="input-sender_contact_person_phone" class="form-control" readonly />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label" for="input-sender_city_name">{{ entry_city }}</label>
										<div class="col-sm-9">
											<input type="text" name="sender_city_name" value="{{ sender_city_name }}" placeholder="{{ text_select }}" id="input-sender_city_name" class="form-control" />
											<input type="hidden" name="sender_city" value="{{ sender_city }}" id="input-sender_city" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label" for="input-sender_address_name">{{ entry_address }}</label>
										<div class="col-sm-9">
											<input type="text" name="sender_address_name" value="{{ sender_address_name }}" placeholder="{{ text_select }}" id="input-sender_address_name" class="form-control" />
											<input type="hidden" name="sender_address" value="{{ sender_address }}" id="input-sender_address" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="panel panel-default">
								<div class="panel-heading clearfix" style="padding-top: 5px; padding-bottom: 5px;">
									<h3 class="panel-title" style="padding-top: 5px;">{{ text_recipient }}</h3>
									<div class="btn-group pull-right" data-toggle="buttons">
										<label class="btn btn-default btn-sm{{ recipient_address_type == 'warehouse' ? ' active' }}" data-toggle="tooltip" title="{{ button_warehouse_delivery }}"><input type="radio" name="recipient_address_type" value="warehouse" id="input-recipient_address_type"{{ recipient_address_type == 'warehouse' ? ' checked' }}><i class="fa fa-map-marker" aria-hidden="true"></i></label>
										<label class="btn btn-default btn-sm{{ recipient_address_type == 'doors' ? ' active' }}" data-toggle="tooltip" title="{{ button_doors_delivery }}"><input type="radio" name="recipient_address_type" value="doors" id="input-recipient_address_type"{{ recipient_address_type == 'doors' ? ' checked' }}><i class="fa fa-home" aria-hidden="true"></i></label>
									</div>
								</div>
								<div class="panel-body">
									<div class="form-group">
										<label class="col-sm-3 control-label" for="input-recipient_name">{{ entry_recipient }}</label>
										<div class="col-sm-9">
											<input type="text" name="recipient_name" value="{{ recipient_name }}" placeholder="{{ text_select }}" id="input-recipient_name" class="form-control" />
											<input type="hidden" name="recipient" value="{{ recipient }}" id="input-recipient" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label" for="input-recipient_contact_person">{{ entry_contact_person }}</label>
										<div class="col-sm-9">
											<input type="text" name="recipient_contact_person" value="{{ recipient_contact_person }}" placeholder="{{ entry_contact_person }}" id="input-recipient_contact_person" class="form-control" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label" for="input-recipient_contact_person_phone">{{ entry_phone }}</label>
										<div class="col-sm-9">
											<input type="text" name="recipient_contact_person_phone" value="{{ recipient_contact_person_phone }}" placeholder="{{ entry_phone }}" id="input-recipient_contact_person_phone" class="form-control" />
										</div>
									</div>
									<div class="form-group" style="display: none">
										<label class="col-sm-3 control-label" for="input-recipient_area">{{ entry_area }}</label>
										<div class="col-sm-9">
											<select name="recipient_area" id="input-recipient_area" class="form-control">
												<option value="">{{ text_select }}</option>
												{% for area in references['areas'] %}
													<option value="{{ area.Ref }}"{{ area.Ref == recipient_area ? ' selected="selected"' }}>{{ area.Description }}</option>
												{% endfor %}
											</select>
											<input type="hidden" name="recipient_area_name" value="{{ recipient_area_name }}" id="input-recipient_area_name" />
											<input type="hidden" name="recipient_region_name" value="{{ recipient_region_name }}" id="input-recipient_region_name" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label" for="input-recipient_city_name">{{ entry_city }}</label>
										<div class="col-sm-9">
											<input type="text" name="recipient_city_name" value="{{ recipient_city_name }}" placeholder="{{ entry_city }}" id="input-recipient_city_name" class="form-control" />
											<input type="hidden" name="recipient_city" value="{{ recipient_city }}" id="input-recipient_city" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label" for="input-recipient_warehouse_name">{{ entry_warehouse }}</label>
										<div class="col-sm-9">
											<input type="text" name="recipient_warehouse_name" value="{{ recipient_warehouse_name }}" placeholder="{{ entry_warehouse }}" id="input-recipient_warehouse_name" class="form-control" />
											<input type="hidden" name="recipient_warehouse" value="{{ recipient_warehouse }}" id="input-recipient_warehouse" />
										</div>
									</div>
									<div class="form-group" style="display: none">
										<label class="col-sm-3 control-label" for="input-recipient_street_name">{{ entry_street }}</label>
										<div class="col-sm-9">
											<input type="text" name="recipient_street_name" value="{{ recipient_street_name }}" placeholder="{{ entry_street }}" id="input-recipient_street_name" class="form-control" />
											<input type="hidden" name="recipient_street" value="{{ recipient_street }}" id="input-recipient_street" />
										</div>
									</div>
									<div class="form-group" style="display: none">
										<label class="col-sm-3 control-label" for="input-recipient_house">{{ entry_house }}</label>
										<div class="col-sm-9">
											<input type="text" name="recipient_house" value="{{ recipient_house }}" placeholder="{{ entry_house }}" id="input-recipient_house" class="form-control" />
										</div>
									</div>
									<div class="form-group" style="display: none">
										<label class="col-sm-3 control-label" for="input-recipient_flat">{{ entry_flat }}</label>
										<div class="col-sm-9">
											<input type="text" name="recipient_flat" value="{{ recipient_flat }}" placeholder="{{ entry_flat }}" id="input-recipient_flat" class="form-control" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">{{ text_departure_options }}</h3>
								</div>
								<div class="panel-body">
									<div class="form-group">
										<label class="col-sm-3 control-label" for="input-departure_type">{{ entry_departure_type }}</label>
										<div class="col-sm-9">
											<select name="departure_type" id="input-departure_type" class="form-control">
												{% for cargo_type in references['cargo_types'] %}
													<option value="{{ cargo_type.Ref }}"{{ cargo_type.Ref == departure ? ' selected="selected"' }}>{{ cargo_type.Description }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									{% for t_and_w in references['tires_and_wheels'] %}
									<div class="form-group" style="display: none;">
										<label class="col-sm-3 control-label" for="input-tires_and_wheels_{{ t_and_w.Ref }}">{{ t_and_w.Description }}</label>
										<div class="col-sm-9">
											<div class="input-group">
												<input type="text" name="tires_and_wheels[{{ t_and_w.Ref }}]" value="{{ tires_and_wheels[t_and_w.Ref] ? tires_and_wheels[t_and_w.Ref] }}" placeholder="{{ t_and_w.Description }}" id="input-tires_and_wheels_{{ t_and_w.Ref }}" class="form-control" />
												<span class="input-group-addon">{{ text_pc }}</span>
											</div>
										</div>
									</div>
                                    {% endfor %}
									<div class="form-group" style="display: none;">
										<label class="col-sm-3 control-label" for="input-width">{{ entry_width }}</label>
										<div class="col-sm-9">
											<div class="input-group">
												<input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />
												<span class="input-group-addon">{{ text_cm }}</span>
											</div>
										</div>
									</div>
									<div class="form-group" style="display: none;">
										<label class="col-sm-3 control-label" for="input-length">{{ entry_length }}</label>
										<div class="col-sm-9">
											<div class="input-group">
												<input type="text" name="length" value="{{ length }}" placeholder="{{ entry_length }}" id="input-length" class="form-control" />
												<span class="input-group-addon">{{ text_cm }}</span>
											</div>
										</div>
									</div>
									<div class="form-group" style="display: none;">
										<label class="col-sm-3 control-label" for="input-height">{{ entry_height }}</label>
										<div class="col-sm-9">
											<div class="input-group">
												<input type="text" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" />
												<span class="input-group-addon">{{ text_cm }}</span>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label" for="input-weight">{{ entry_weight }}</label>
										<div class="col-sm-9">
											<div class="input-group">
												<input type="text" name="weight" value="{{ weight }}" placeholder="{{ entry_weight }}" id="input-weight" class="form-control" />
												<span class="input-group-addon">{{ text_kg }}</span>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label" for="input-volume_general">{{ entry_volume_general }}</label>
										<div class="col-sm-9">
											<div class="input-group">
												<input type="text" name="volume_general" value="{{ volume_general }}" placeholder="{{ entry_volume_general }}" id="input-volume_general" class="form-control" />
												<span class="input-group-addon">{{ text_cubic_meter }}</span>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label" for="input-volume_weight">{{ entry_volume_weight }}</label>
										<div class="col-sm-9">
											<div class="input-group">
												<input type="text" name="volume_weight" value="{{ volume_weight }}" placeholder="{{ entry_volume_weight }}" id="input-volume_weight" class="form-control" readonly/>
												<span class="input-group-addon">{{ text_kg }}</span>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label" for="input-seats_amount">{{ entry_seats_amount }}</label>
										<div class="col-sm-9">
											<div class="input-group">
												<span class="input-group-btn">
													<button type="button" id="button-options_seat" data-toggle="modal" data-target="#modal-options-seat" data-tooltip="true" title="{{ button_options_seat }}" class="btn btn-default"><i class="fa fa-cubes"></i></button>
												</span>
												<input type="text" name="seats_amount" value="{{ seats_amount }}" placeholder="{{ entry_seats_amount }}" id="input-seats_amount" class="form-control" />
												<span class="input-group-addon">{{ text_pc }}</span>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label" for="input-announced_price">{{ entry_announced_price }}</label>
										<div class="col-sm-9">
											<div class="input-group">
												<span class="input-group-btn">
													<button type="button" id="button-components_list" data-toggle="modal" data-target="#modal-totals-list" data-tooltip="true" title="{{ button_components_list }}" class="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i></button>
												</span>
												<input type="text" name="announced_price" value="{{ announced_price }}" placeholder="{{ entry_announced_price }}" id="input-announced_price" class="form-control" />
												<span class="input-group-addon">{{ text_grn }}</span>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label" for="input-departure_description">{{ entry_departure_description }}</label>
										<div class="col-sm-9">
											<input type="text" name="departure_description" value="{{ departure_description }}" placeholder="{{ entry_departure_description }}" id="input-departure_description" class="form-control" />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">{{ text_payment }}</h3>
								</div>
								<div class="panel-body">
									<div class="form-group">
										<label class="col-sm-3 control-label" for="input-payer">{{ entry_payer }}</label>
										<div class="col-sm-9">
											<select name="payer" id="input-payer" class="form-control">
												<option value="0">{{ text_select }}</option>
												{% for v in references['payer_types'] %}
													{% if v.Ref == 'ThirdPerson' and not sender_options['CanPayTheThirdPerson'] %}
														<option value="{{ v.Ref }}" disabled>{{ v.Description }}</option>
													{% else %}
														<option value="{{ v.Ref }}"{{ v.Ref == payer ? ' selected="selected"' }}>{{ v.Description }}</option>
													{% endif %}
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="form-group" style="display: none">
										<label class="col-sm-3 control-label" for="input-third_person">{{ entry_third_person }}</label>
										<div class="col-sm-9">
											<select name="third_person" id="input-third_person" class="form-control">
												<option value="">{{ text_select }}</option>
												{% for v in references['third_persons'] %}
													<option value="{{ v.Ref }}"{{ v.Ref == third_person ? ' selected="selected"' }}>{{ v.Description ~ ', ' ~ v.CityDescription }}</option>
                                                {% endfor %}
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label" for="input-payment_type">{{ entry_payment_type }}</label>
										<div class="col-sm-9">
											<select name="payment_type" id="input-payment_type" class="form-control">
												<option value="0">{{ text_select }}</option>
												{% for v in references['payment_types'] %}
													{% if v.Ref == 'NonCash' and not sender_options['CanNonCashPayment'] %}
														<option value="{{ v.Ref }}" disabled>{{ v.Description }}</option>
													{% else %}
														<option value="{{ v.Ref }}"{{ v.Ref == payment_type ? ' selected="selected"' }}>{{ v.Description }}</option>
													{% endif %}
                                                {% endfor %}
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label" for="input-backward_delivery">{{ entry_backward_delivery }}</label>
										<div class="col-sm-9">
											<select name="backward_delivery" id="input-backward_delivery" class="form-control">
												<option value="0">{{ text_select }}</option>
												<option value="N"{{ backward_delivery == 'N' ? ' selected="selected"' }}>{{ text_no_backward_delivery }}</option>
												{% for v in references['backward_delivery_types'] %}
													<option value="{{ v.Ref }}"{{ v.Ref == backward_delivery ? ' selected="selected"' }}>{{ v.Description }}</option>
                                                {% endfor %}
											</select>
										</div>
									</div>
									<div class="form-group" style="display: none">
										<label class="col-sm-3 control-label" for="input-backward_delivery_total">{{ entry_backward_delivery_total }}</label>
										<div class="col-sm-9">
											<div class="input-group">
												<input type="text" name="backward_delivery_total" value="{{ backward_delivery_total }}" placeholder="{{ entry_backward_delivery_total }}" id="input-backward_delivery_total" class="form-control" />
												<span class="input-group-addon">{{ text_grn }}</span>
											</div>
										</div>
									</div>
									<div class="form-group"{{ not sender_options['CanAfterpaymentOnGoodsCost'] ? ' style="display: none"' }}>
										<label class="col-sm-3 control-label" for="input-payment_control">{{ entry_payment_control }}</label>
										<div class="col-sm-9">
											<div class="input-group">
												<input type="text" name="payment_control" value="{{ payment_control }}" placeholder="{{ entry_payment_control }}" id="input-payment_control" class="form-control" />
												<span class="input-group-addon">{{ text_grn }}</span>
											</div>
										</div>
									</div>
									<div class="form-group" style="display: none">
										<label class="col-sm-3 control-label" for="input-backward_delivery_payer">{{ entry_backward_delivery_payer }}</label>
										<div class="col-sm-9">
											<select name="backward_delivery_payer" id="input-backward_delivery_payer" class="form-control">
												<option value="0">{{ text_select }}</option>
                                                {% for v in references['backward_delivery_payers'] %}
													<option value="{{ v.Ref }}"{{ v.Ref == backward_delivery_payer ? ' selected="selected"' }}>{{ v.Description }}</option>
                                                {% endfor %}
											</select>
										</div>
									</div>
									<div class="form-group" style="display: none">
										<label class="col-sm-3 control-label" for="input-money_transfer_method">{{ entry_money_transfer_method }}</label>
										<div class="col-sm-9">
											<select name="money_transfer_method" id="input-money_transfer_method" class="form-control">
												<option value="0">{{ text_select }}</option>
                                                {% for k, v in money_transfer_methods %}
													<option value="{{ k }}"{{ k == money_transfer_method ? ' selected="selected"' }}>{{ v }}</option>
                                                {% endfor %}
											</select>
										</div>
									</div>
									<div class="form-group" style="display: none">
										<label class="col-sm-3 control-label" for="input-payment_card">{{ entry_payment_card }}</label>
										<div class="col-sm-9">
											<select name="payment_card" id="input-payment_card" class="form-control">
												<option value="">{{ text_select }}</option>
                                                {% for v in references['payment_cards'] %}
													<option value="{{ v.Ref }}"{{ v.Ref == payment_card ? ' selected="selected"' }}>{{ v.Description }}</option>
                                                {% endfor %}
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">{{ text_additionally }}</h3>
								</div>
								<div class="panel-body">
									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-sm-3 control-label" for="input-departure_date">{{ entry_departure_date }}</label>
											<div class="col-sm-9">
												<div class="input-group date">
													<input type="text" name="departure_date" value="{{ departure_date }}" placeholder="{{ entry_departure_date }}" data-date-format="DD.MM.YYYY" id="input-departure_date" class="form-control">
													<span class="input-group-btn">
														<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
													</span>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label" for="input-preferred_delivery_date">{{ entry_preferred_delivery_date }}</label>
											<div class="col-sm-9">
												<div class="input-group date">
													<input type="text" name="preferred_delivery_date" value="{{ preferred_delivery_date }}" placeholder="{{ entry_preferred_delivery_date }}" data-date-format="DD.MM.YYYY" id="input-preferred_delivery_date" class="form-control">
													<span class="input-group-btn">
														<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
													</span>
												</div>
											</div>
										</div>
										<div class="form-group" style="display: none">
											<label class="col-sm-3 control-label" for="input-time_interval">{{ entry_preferred_delivery_time }}</label>
											<div class="col-sm-9">
												<select name="time_interval" id="input-time_interval" class="form-control">
													<option value="">{{ text_during_day }}</option>
                                                    {% for interval in time_intervals %}
														<option value="{{ interval.Number }}"{{ interval.Number == time_interval ? ' selected="selected"' }}>{{ interval.Start ~ ' - ' ~ interval.End }}</option>
													{% endfor %}
												</select>
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label" for="input-packing_number">{{ entry_packing_number }}</label>
											<div class="col-sm-9">
												<input type="text" name="packing_number" value="{{ packing_number }}" placeholder="{{ entry_packing_number }}" id="input-packing_number" class="form-control" />
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label class="col-sm-3 control-label" for="input-sales_order_number">{{ entry_sales_order_number }}</label>
											<div class="col-sm-9">
												<input type="text" name="sales_order_number" value="{{ sales_order_number }}" placeholder="{{ entry_sales_order_number }}" id="input-sales_order_number" class="form-control" />
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label" for="input-additional_information">{{ entry_departure_additional_information }}</label>
											<div class="col-sm-9">
												<textarea name="additional_information" rows="3" id="input-additional_information" maxlength="100" class="form-control">{{ additional_information }}</textarea>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Modal seats START -->
					<div class="modal fade" id="modal-options-seat" tabindex="-1" role="dialog" aria-labelledby="option-seat-label">
						<div class="modal-dialog modal-lg" role="document" style="width: 85%;">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="options-seat-label">{{ heading_options_seat }}</h4>
								</div>
								<div class="modal-body">
									<div class="table-responsive">
										<table class="table table-striped" id="table-seats">
											<thead>
												<tr>
													<td class="text-center">{{ column_number }}</td>
													<td class="text-center">{{ column_volume }}</td>
													<td class="text-center"></td>
													<td class="text-center">{{ column_width }}</td>
													<td class="text-center">{{ column_length }}</td>
													<td class="text-center">{{ column_height }}</td>
													<td class="text-center">{{ column_weight }}</td>
													<td class="text-center">{{ column_volume_weight }}</td>
													<td class="text-center" width="100px">{{ column_action }}</td>
												</tr>
											</thead>
											<tbody>
											</tbody>
											<tfoot>
												<tr>
													<td colspan="8"></td>
													<td class="text-center">
														<button type="button" onclick="addSeat();" data-toggle="modal"  data-tooltip=true title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button>
													</td>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" onclick="saveSeats();" class="btn btn-primary"><i class="fa fa-check"></i></button>
									<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i></button>
								</div>
							</div>
						</div>
					</div>
					<!-- Modal seats END -->

					<!-- Modal of totals list START -->
					<div class="modal fade" id="modal-totals-list" tabindex="-1" role="dialog" aria-labelledby="totals-list-label">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="totals-list-label">{{ heading_components_list }}</h4>
								</div>
								<div class="modal-body">
									<div class="table-responsive">
										<table class="table table-striped" id="table-totals_list">
											<thead>
												<tr>
													<td>{{ column_description }}</td>
													<td class="text-center">{{ column_price }}</td>
													<td class="text-center">{{ column_action }}</td>
												</tr>
											</thead>
											<tbody>
												{% for v in totals %}
													<tr>
														<td>{{ v.title }}</td>
														<td class="text-center">{{ v.price }} {{ text_grn }}</td>
														<td class="text-center">
															{% if v.status %}
																<button type="button" class="btn btn-danger btn-xs" id="button-total_announced_price_minus"><i class="fa fa-minus"></i></button>
															{% else %}
																<button type="button" class="btn btn-success btn-xs" id="button-total_announced_price_plus"><i class="fa fa-plus"></i></button>
															{% endif %}
														</td>
													</tr>
												{% endfor %}
											</tbody>
											<tfoot>
												<tr>
													<td><strong>{{ text_announced_price }}</strong></td>
													<td class="text-center" id="td-announced_price_total"><strong>{{ announced_price }} {{ text_grn }}</strong></td>
													<td></td>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" onclick="saveAnnouncedPrice();" class="btn btn-primary"><i class="fa fa-check"></i></button>
									<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i></button>
								</div>
							</div>
						</div>
					</div>
					<!-- Modal of totals list END -->

				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"><!--
function validateForm(element) {
	var post_data = element.name + '=' + encodeURIComponent(element.value);

	if (element.name == 'sender_contact_person') {
        post_data += '&f_sender=' + encodeURIComponent($('#input-sender').val());
	} else if (element.name == 'sender_city_name') {
        post_data += '&sender_city=' + encodeURIComponent($('#input-sender_city').val());
    } else if (element.name == 'sender_address_name') {
        post_data += '&sender_address=' + encodeURIComponent($('#input-sender_address').val()) + '&f_sender=' + encodeURIComponent($('#input-sender').val()) + '&sender_city=' + encodeURIComponent($('#input-sender_city').val());
	} else if (element.name == 'recipient_city_name') {
        post_data += '&recipient_city=' + encodeURIComponent($('#input-recipient_city').val());
	} else if (element.name == 'recipient_warehouse_name') {
        post_data += '&recipient_warehouse=' + encodeURIComponent($('#input-recipient_warehouse').val());
	} else if (element.name == 'recipient_street_name') {
        post_data += '&recipient_street=' + encodeURIComponent($('#input-recipient_street').val());
    }  else if (element.name == 'backward_delivery_total') {
        post_data += '&backward_delivery=' + encodeURIComponent($('#input-backward_delivery').val());
	}

	$.ajax( {
		url: 'index.php?route=extension/shipping/novaposhta/getCNForm&user_token={{ user_token }}',
	   	type: 'POST',
	   	data: post_data,
	   	dataType: 'json',
	  	success: function(json) {
			checkErrors(json);
	   	},
	   	error: function (jqXHR, textStatus, errorThrown) {
	   		console.log(textStatus);
	     }
	} );
}

function checkErrors(array) {
	if (array['warning']) {
		if (array['warning'] instanceof Array) {
			for(var w in array['warning']) {
				$('.container-fluid:eq(1)').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + array['warning'][w] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
			}
		} else {
			$('.container-fluid:eq(1)').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + array['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
		}

	} else {
		$('.alert').remove();
	}

	for(var field in array['errors']) {
		$('div.form-group').has('label[for="input-' + field + '"]').removeClass('has-success').addClass('has-error');
		$('#span-' + field).remove('.help-block');
		$('div.form-group > div[class^="col-sm"]').has('#input-' + field).append('<span id="span-' + field + '" class="help-block">' + array['errors'][field] + '</span>');
	}

	for(var field in array['success']) {
		$('div.form-group').has('label[for="input-' + field + '"]').removeClass('has-error').addClass('has-success');
		$('#span-' + field).remove('.help-block');
	}
}

function addSeat() {
	var row = '<tr>';

	row += '<td>' + ($('#table-seats tbody tr').length + 1) + '</td>';
	row += '<td><div class="input-group"><input type="text" name="volume" value="" id="input-seat-volume" class="form-control" /><span class="input-group-addon">{{ text_cubic_meter }}</span></div></td>';
	row += '<td><label class="col-sm-12 control-label">{{ text_or }}</label></td>';
	row += '<td><div class="input-group"><input type="text" name="width" value="" id="input-seat-width" class="form-control" /><span class="input-group-addon">{{ text_cm }}</span></div></td>';
	row += '<td><div class="input-group"><input type="text" name="length" value="" id="input-seat-length" class="form-control" /><span class="input-group-addon">{{ text_cm }}</span></div></td>';
	row += '<td><div class="input-group"><input type="text" name="height" value="" id="input-seat-height" class="form-control" /><span class="input-group-addon">{{ text_cm }}</span></div></td>';
	row += '<td><div class="input-group"><input type="text" name="actual_weight" value="" id="input-seat-actual-weight" class="form-control" /><span class="input-group-addon">{{ text_kg }}</span></div></td>';
	row += '<td><div class="input-group"><input type="text" name="volume_weight" value="" id="input-seat-volume-weight" class="form-control" readonly/><span class="input-group-addon">{{ text_kg }}</span></div></td>';
	row += '<td class="text-center"><button type="button" onclick="$(this).parents(\'tr\').remove()" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
	row += '</tr>';

	$('#table-seats tbody').append(row);
}

function saveSeats() {
	var trs = $('#table-seats tbody tr');
	var seats = trs.length, weight = 0, volume = 0, volume_weight = 0;

	trs.each(function(i, element){
		tr = $(element);

		weight += +tr.find('#input-seat-actual-weight').val();
		volume += +tr.find('#input-seat-volume').val();
		volume_weight += +tr.find('#input-seat-volume-weight').val();
	} );

	$('#input-seats_amount').val(seats);
	$('#input-weight').val(weight);
	$('#input-volume_general').val(volume);
	$('#input-volume_weight').val(volume_weight);

	$('#modal-options-seat').modal('hide');
}

function saveAnnouncedPrice() {
	$('#input-announced_price').val(parseInt($('#td-announced_price_total')[0].outerText));

	$('#modal-totals-list').modal('hide');
}

function formHandler(element) {
	switch(element.id) {
		case 'input-sender':
            $.ajax( {
                url: 'index.php?route=extension/shipping/novaposhta/getNPData&user_token={{ user_token }}',
                type: 'POST',
                data: 'action=getContactPerson&filter=' + encodeURIComponent(element.value),
                dataType: 'json',
                success: function (json) {
                    var html = '<option value="">{{ text_select }}</option>';

                    for (var i in json) {
                        if (json[i]['Ref'] == "{{ sender_contact_person }}") {
                            html += '<option value="' + json[i]['Ref'] + '" selected="selected">' + json[i]['Description'] + ', ' + json[i]['Phones'] + '</option>';
                        } else {
                            html += '<option value="' + json[i]['Ref'] + '">' + json[i]['Description'] + ', ' + json[i]['Phones'] + '</option>';
                        }
                    }

                    $('#input-sender_contact_person').html(html).trigger('change');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            } );

			$.ajax( {
				url: 'index.php?route=extension/shipping/novaposhta/getNPData&user_token={{ user_token }}',
				type: 'post',
				data: 'action=getSenderOptions&filter=' + encodeURIComponent(element.value),
				dataType: 'json',
				success: function (json) {
					if (json['CanPayTheThirdPerson']) {
						$('#input-payer > option[value="ThirdPerson"]').prop('disabled', false).trigger('change');
					} else {
						$('#input-payer > option[value="ThirdPerson"]').prop('disabled', true).trigger('change');
					}

					if (json['CanNonCashPayment']) {
						$('#input-payment_type > option[value="NonCash"]').prop('disabled', false);
					} else {
						$('#input-payment_type > option[value="Cash"]').prop({'disabled': false, 'selected': true});
						$('#input-payment_type > option[value="NonCash"]').prop({'disabled': true, 'selected': false});

					}

					if (json['CanAfterpaymentOnGoodsCost']) {
						$('[for="input-payment_control"]').filter(':hidden').parent().fadeIn();
					} else {
						$('[for="input-payment_control"]').filter(':visible').parent().fadeOut();
					}
				},
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                }
			} );

			break;

		case 'input-sender_contact_person':
			var phone = element.selectedOptions[0].label.substr(element.selectedOptions[0].label.indexOf(', ') + 2);

			$('#input-sender_contact_person_phone').val(phone);

			break;

        case 'input-sender_city_name':
			$('#input-sender_address, #input-sender_address_name').val('');

            break;

        case 'input-recipient_address_type':
            if (element.value == 'doors') {
                $('[for="input-recipient_warehouse_name"]').filter(':visible').parent().fadeOut();
                $('[for="input-recipient_area"], [for="input-recipient_street_name"], [for="input-recipient_house"], [for="input-recipient_flat"]').filter(':hidden').parent().fadeIn();

                if ($('#input-preferred_delivery_date').val()) {
                    $('[for="input-time_interval"]').filter(':hidden').parent().fadeIn();
                }
            } else {
                $('[for="input-recipient_warehouse_name"]').filter(':hidden').parent().fadeIn();
                $('[for="input-recipient_area"], [for="input-recipient_street_name"], [for="input-recipient_house"], [for="input-recipient_flat"], [for="input-time_interval"]').filter(':visible').parent().fadeOut();
            }

            break;

        case 'input-recipient_name':
            $('#input-recipient').val('');

            break;

		case 'input-recipient_city_name':
			var
				address_type = $('#input-recipient_address_type:checked').val(),
				delivery_date = $('#input-preferred_delivery_date').val();

			if (address_type == 'doors' && delivery_date) {
				$.ajax( {
					url: 'index.php?route=extension/shipping/novaposhta/getNPData&user_token={{ user_token }}',
					type: 'post',
					data: 'action=getTimeIntervals&filter=' + encodeURIComponent(element.value) + '&delivery_date=' + encodeURIComponent(delivery_date),
					dataType: 'json',
					success: function (json) {
						var html = '<option value="">{{ text_during_day }}</option>';

						for (var i in json) {
							html += '<option value="' + json[i]['Number'] + '">' + json[i]['Start'] + ' - ' + json[i]['End'] + '</option>';
						}

						$('#input-time_interval').html(html);
					}
				} );
			}

			break;

		case 'input-recipient_warehouse_name':
		    var departure_type = $('#input-departure_type').val();

			if (element.value.match(/почтомат|поштомат/i)) {
				if (departure_type == 'Parcel' || departure_type == 'Cargo') {
					$('[for="input-width"], [for="input-length"], [for="input-height"]').filter(':hidden').parent().fadeIn();
				} else if (departure_type == 'TiresWheels' || departure_type == 'Pallet'){
					$('#input-departure_type').val('Cargo').trigger('change');
				}

				$('#input-departure_type > option[value="TiresWheels"], #input-departure_type > option[value="Pallet"], #input-volume_general, #input-seats_amount, #button-options_seat').attr('disabled', true);
				$('#input-seats_amount').val('1');
			} else {
				$('[for="input-width"], [for="input-length"], [for="input-height"]').filter(':visible').parent().fadeOut();
				$('#input-departure_type > option[value="TiresWheels"], #input-departure_type > option[value="Pallet"], #input-volume_general, #input-seats_amount, #button-options_seat').attr('disabled', false);
			}

			break;

		case 'input-departure_type':
            var recipient_warehouse = $('#input-recipient_warehouse_name').val();

			if (element.value == 'Parcel' || element.value == 'Cargo') {
                var html = '<input type="text" name="weight" value="{{ weight }}" placeholder="{{ entry_weight }}" id="input-weight" class="form-control" />';

                $('#input-weight').replaceWith(html);

				$('[for*="input-tires_and_wheels"]').filter(':visible').parent().fadeOut();
				$('[for="input-weight"], [for="input-volume_weight"], [for="input-volume_general"]').filter(':hidden').parent().fadeIn();
				$('#button-options_seat, #input-seats_amount, #input-departure_description').attr('disabled', false);

                if (recipient_warehouse.match(/почтомат|поштомат/i)) {
                    $('[for="input-width"], [for="input-length"], [for="input-height"]').filter(':hidden').parent().fadeIn();
                    $('#button-options_seat, #input-seats_amount').attr('disabled', true);
                    $('#input-seats_amount').val('1');
                }
		   	} else if (element.value == 'Documents') {
                var html = '<select name="weight" id="input-weight" class="form-control"><option value="">{{ text_select }}</option><option value="0.1">0.1</option><option value="0.5">0.5</option><option value="1">1</option></select>';

                $('#input-weight').replaceWith(html);

				$('[for *= input-tires_and_wheels], [for = input-volume_weight], [for = input-volume_general]').filter(':visible').parent().fadeOut();
				$('[for = input-weight]').filter(':hidden').parent().fadeIn();
				$('button#button-options_seat, #input-seats_amount').attr('disabled', false);
				$('#input-departure_description').attr('disabled', true).val('Документи');

                if (recipient_warehouse.match(/почтомат|поштомат/i)) {
                    $('[for="input-width"], [for="input-length"], [for="input-height"]').filter(':visible').parent().fadeOut();
                    $('#button-options_seat, #input-seats_amount').attr('disabled', true);
                    $('#input-seats_amount').val('1');
                }
		   	} else if (element.value == 'TiresWheels') {
				$('[for="input-width"], [for="input-length"], [for="input-height"], [for="input-weight"], [for="input-volume_weight"], [for="input-volume_general"]').filter(':visible').parent().fadeOut();
				$('[for*="input-tires_and_wheels"]').filter(':hidden').parent().fadeIn();
				$('#button-options_seat, #input-seats_amount, #input-departure_description').attr('disabled', true);
				$('#input-departure_description').val('Шини та диски');
		   	}

			break;

		case (element.id.match(/input-tires_and_wheels_/) || {}).input:
		    var c = 0;

		    $('input[id^="input-tires_and_wheels"]').each(function() {
                c += +this.value;
            } );

			$('#input-seats_amount').val(c);

			break;

		case 'input-volume_general':
			$('#input-volume_weight').val((element.value * 250).toFixed(3));

			break;

		case 'input-width':
		case 'input-length':
		case 'input-height':
			$('#input-volume_general').val(($('#input-width').val() * $('#input-length').val() * $('#input-height').val() / 1000000).toFixed(3)).trigger('change');

			break;

        case 'input-seat-volume':
            $(element).parents('tr').find('#input-seat-volume-weight').val((element.value * 250).toFixed(3));

            break;

		case 'input-seat-width':
		case 'input-seat-length':
		case 'input-seat-height':
			var
				row = $(element).parents('tr'),
				width = row.find('#input-seat-width').val(),
				length = row.find('#input-seat-length').val(),
				height = row.find('#input-seat-height').val();

			row.find('#input-seat-volume').val((width * length * height / 1000000).toFixed(3)).trigger('change');

			break;

		case 'input-payer':
			if (element.value == 'ThirdPerson') {
				$('[for="input-third_person"]').filter(':hidden').parent().fadeIn();
                $('#input-payment_type > option[value ="NonCash"]').prop('selected', true);
				$('#input-payment_type > option[value="Cash"]').prop({'disabled': true, 'selected': false});
			} else {
				$('[for="input-third_person"]').filter(':visible').parent().fadeOut();
				$('#input-payment_type > option[value="Cash"]').prop('disabled', false);
			}

			$('#input-payment_type').trigger('change');

			break;

		case 'input-backward_delivery':
			if (element.value == 'Money') {
				$('[for="input-backward_delivery_total"], [for="input-backward_delivery_payer"], [for="input-money_transfer_method"]').filter(':hidden').parent().fadeIn();

                $('#input-money_transfer_method').trigger('change');
			} else {
				$('[for="input-backward_delivery_total"], [for="input-backward_delivery_payer"], [for="input-money_transfer_method"], [for="input-payment_card"]').filter(':visible').parent().fadeOut();
			}

			break;

        case 'input-money_transfer_method':
            if (element.value == 'to_payment_card') {
                $('[for="input-payment_card"]').filter(':hidden').parent().fadeIn();
            } else {
                $('[for="input-payment_card"]').filter(':visible').parent().fadeOut();
            }

            break;

		case 'input-preferred_delivery_date':
			if (element.value && $('#input-recipient_address_type:checked').val() == 'doors') {
				$('[for="input-time_interval"]').filter(':hidden').parent().fadeIn();
				$('#input-recipient_city_name').trigger('change')
			} else {
				$('[for="input-time_interval"]').filter(':visible').parent().fadeOut();
			}

			break;
	}
}

$( function () {
    $('[data-tooltip=true]').tooltip();

	$('.date').datetimepicker( {pickTime: false} )
	.on('change', function () {
		var input = $(this).find('input')[0];

		formHandler(input);
		validateForm(input);
	} );

    $('form').on('change', 'input, select, textarea', function() {
        setTimeout(formHandler, 200, this);
        setTimeout(validateForm, 200, this);
    } );

    $('#input-sender_contact_person, #input-recipient_address, #input-recipient_address_type:checked, #input-departure_type, #input-payer, #input-backward_delivery').each(function() {
        formHandler(this);
    } );

	// Change totals list
	$('#modal-totals-list').on('click', '#button-total_announced_price_minus, #button-total_announced_price_plus', function (e) {
		var b = $(e.currentTarget),
			cost = parseInt(b.parents('tr').find('td:eq(1)').text()),
			total = $('#td-announced_price_total')[0].outerText;

		if (e.currentTarget.id == 'button-total_announced_price_minus') {
			b.replaceWith('<button type="button" class="btn btn-success btn-xs" id="button-total_announced_price_plus"><i class="fa fa-plus"></i></button>');

			total = total.replace(/-?\d+/, parseInt(total) - cost);
		} else {
			b.replaceWith('<button type="button" class="btn btn-danger btn-xs" id="button-total_announced_price_minus"><i class="fa fa-minus"></i></button>');

			total = total.replace(/-?\d+/, parseInt(total) + cost);
		}

		$('#td-announced_price_total').html('<strong>' + total + '</strong>');
	} );

    // Search sender city
    $('#input-sender_city_name').autocomplete( {
        source: function(request, response) {
            var post_data = 'city=' + encodeURIComponent(request);

            $.ajax( {
                url: 'index.php?route=extension/shipping/novaposhta/autocomplete&user_token={{ user_token }}',
                type: 'post',
                data: post_data,
                dataType: 'json',
                success: function(json) {
                    response($.map(json, function(item) {
                        return {
                            label: item['FullDescription'],
                            value: item['Description'],
							ref:  item['Ref']
                        }
                    } ));
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            } );
        },
        select: function(item) {
            $(this).val(item['value']).trigger('change');
            $(this).siblings('input[type="hidden"]').val(item['ref']);

        }
    } );

    // Search address
    $('#input-sender_address_name').autocomplete( {
        source: function(request, response) {
            $.ajax( {
                url: 'index.php?route=extension/shipping/novaposhta/autocomplete&user_token={{ user_token }}',
                type: 'POST',
                data: 'address=' + encodeURIComponent(request) + '&filter=' + encodeURIComponent($('#input-sender_city').val()) + '&sender=' + encodeURIComponent($('#input-sender').val()),
                dataType: 'json',
                success: function(json) {
                    response($.map(json, function(item) {
                        return {
                            label: item['Description'],
                            value: item['Ref']
                        }
                    } ));
                }
            } );
        },
        select: function(item) {
            $(this).val(item['label']).trigger('change');
            $(this).siblings('input[type="hidden"]').val(item['value']);
        }
    } );

    // Search recipient
    $('#input-recipient_name').autocomplete( {
        source: function(request, response) {
            $.ajax( {
                url: 'index.php?route=extension/shipping/novaposhta/autocomplete&user_token={{ user_token }}',
                type: 'POST',
                data: 'recipient_name=' + encodeURIComponent(request),
                dataType: 'json',
                success: function(json) {
                    response($.map(json, function(item) {
                        return {
                            label: item['FullDescription'],
                            value: item['Description'],
                            ref:   item['Ref']
                        }
                    }));
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            } );
        },
        select: function(item) {
            $(this).val(item['value']).trigger('change');
            setTimeout(function() { $('#input-recipient').val(item['ref']) }, 300);
        }
    } );

    // Search recipient city
    $('#input-recipient_city_name').autocomplete( {
        source: function(request, response) {
            var post_data = 'city=' + encodeURIComponent(request);

            if ($('#input-recipient_address_type:checked').val() == 'doors') {
                post_data += '&area=' + $('#input-recipient_area').val();
            }

            $.ajax( {
                url: 'index.php?route=extension/shipping/novaposhta/autocomplete&user_token={{ user_token }}',
                type: 'post',
                data: post_data,
                dataType: 'json',
                success: function(json) {
                    response($.map(json, function(item) {
                        return {
                            label:		 item['FullDescription'],
                            value:		 item['Ref'],
                            name:		 item['Description'],
                            area_name:	 item['Area'] || '',
                            region_name: item['Region'] || '',
                        }
                    } ));
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            } );
        },
        select: function(item) {
            $(this).val(item['name']).trigger('change');
            $('#input-recipient_city').val(item['value']);
            $('#input-recipient_area_name').val(item['area_name']);
            $('#input-recipient_region_name').val(item['region_name']);
        }
    } );

    // Search warehouse
    $('#input-recipient_warehouse_name').autocomplete( {
        source: function(request, response) {
            $.ajax( {
                url: 'index.php?route=extension/shipping/novaposhta/autocomplete&user_token={{ user_token }}',
                type: 'POST',
                data: 'filter=' + encodeURIComponent($('#input-recipient_city').val()) + '&warehouse=' + encodeURIComponent(request),
                dataType: 'json',
                success: function(json) {
                    response($.map(json, function(item) {
                        return {
                            label: item['Description'],
                            value: item['Description'],
							ref:   item['Ref']
                        }
                    } ));
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            } );
        },
        select: function(item) {
            $(this).val(item['value']).trigger('change');
            $(this).siblings('input[type="hidden"]').val(item['ref']);
        }
    } );

    // Search street
    $('#input-recipient_street_name').autocomplete( {
        source: function(request, response) {
            $.ajax( {
                url: 'index.php?route=extension/shipping/novaposhta/autocomplete&user_token={{ user_token }}',
                type: 'POST',
                data: 'filter=' + encodeURIComponent($('#input-recipient_city').val()) + '&street=' + encodeURIComponent(request),
                dataType: 'json',
                success: function(json) {
                    response($.map(json, function(item) {
                        return {
                            label: item['Description'],
                            value: item['Description'],
                            ref:   item['Ref']
                        }
                    } ));
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            } );
        },
        select: function(item) {
            $(this).val(item['value']).trigger('change');
            $(this).siblings('input[type="hidden"]').val(item['ref']);
        }
    } );

    // Departure description
    $('#input-departure_description').autocomplete({
        source: function(request, response) {
            $.ajax( {
                url: 'index.php?route=extension/shipping/novaposhta/autocomplete&user_token={{ user_token }}',
                type: 'post',
                data: 'departure_description=' + encodeURIComponent(request),
                dataType: 'json',
                success: function(json) {
                    response($.map(json, function(item) {
                        return {
                            label: item['Description'],
                            value: item['Description'],
                        }
                    } ));
                }
            } );
        },
        select: function(item) {
            $(this).val(item['value']).triggerHandler('change');
        }
    } );

	// Save CN
	$('#button-save').on('click', function () {
	    var $post_data = $('input[type!="radio"], input[type="radio"]:checked, select, textarea').filter(':visible').add('input[type="hidden"]');

		$.ajax( {
			url: 'index.php?route=extension/shipping/novaposhta/saveCN&order_id={{ order_id }}&cn_ref={{ cn_ref }}&user_token={{ user_token }}',
	   		type: 'POST',
	   		data: $post_data,
	   		dataType: 'json',
	   		beforeSend: function() {
                $('body').fadeTo('fast', 0.8).prepend('<div id="ocmax-loader" style="position: fixed; top: 50%;	left: 50%; z-index: 9999;"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></div>');
	   		},
            complete: function(json){
                var $alerts = $('.alert-danger, .alert-success');

                if ($alerts.length !== 0) {
                    setTimeout(function() { $alerts.remove() }, 15000);
                }

                if (json['errors'] != 'undefined' || json['warning'] != 'undefined') {
                    $('html, body').animate({ scrollTop: $('.has-error, .alert').offset().top }, 1000);
                }

                $('body').fadeTo('fast', 1)
                $('#ocmax-loader').remove();
            },
	  		success: function(json) {
				if (json['success']) {
					location.href = 'index.php?route=extension/shipping/novaposhta/getCNList&filter_departure_date_from=' + json['success'] + '&user_token={{ user_token }}';
				} else {
					$('.help-block, .alert').remove();
					$('div').removeClass('has-error has-success');
						
					checkErrors(json);
				}
	   		},
	   		error: function (jqXHR, textStatus, errorThrown) {
	   			console.log(textStatus);
	      	},
	   	} );
	} );
} );
//--></script>
{{ footer }}