{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
		{% if module_id %}
		<button type="submit" form="form-module" name="apply" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-success"><i class="fa fa-save"></i></button>
		{% endif %}
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
	{% if text_success %}
	    <div id="message_success" class="alert alert-success alert-dismissible">{{ text_success }}</div>
	{% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
		<input type="hidden" name="module_id" value="{{ module_id }}" id="input-module_id" />
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="tab-pane">
            <ul class="nav nav-tabs" id="language">
              {% for language in languages %}
              <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
              {% endfor %}
            </ul>
            <div class="tab-content">
              {% for language in languages %}
              <div class="tab-pane" id="language{{ language.language_id }}">
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="input-description{{ language.language_id }}">{{ entry_description }}</label>
                  <div class="col-sm-10">
                    <textarea name="module_description[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" data-toggle="summernote" class="form-control">{{ module_description[language.language_id] ? module_description[language.language_id].description }}</textarea>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-styleBackground">{{ entry_styleBackground }}</label>
            <div class="col-sm-10">
              <select name="styleBackground" id="input-styleBackground" class="form-control">
                {% if styleBackground %}
                <option value="1" selected="selected">{{ text_image }}</option>
                <option value="0">{{ text_color }}</option>
                {% else %}
                <option value="1">{{ text_image }}</option>
                <option value="0" selected="selected">{{ text_color }}</option>
                {% endif %}
              </select>
            </div>
          </div>
		  <div id="inputColor" class="form-group">
            <label class="col-sm-2 control-label" for="input-color">{{ entry_color }}</label>
            <div class="col-sm-10">
              <input type="text" name="color" value="{{ color }}" placeholder="{{ entry_color }}" id="input-color" class="form-control" />
            </div>
          </div>
		  <div id="inputBackground" class="form-group"  style="display:none;">
			<label class="col-sm-2 control-label">{{ entry_background }}</label>
			<div class="col-sm-10"><a href="" id="thumb-background" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
				<input type="hidden" name="background" value="{{ background }}" id="input-background" />
			</div>
		  </div>
		  <div class="col-sm-12 form-group">
			  <div class="col-sm-6">
				<label class="col-sm-2 control-label" for="input-width">{{ entry_width }}</label>
				<div class="col-sm-10">
				  <input type="number" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />
				  {% if error_width %}
				  <div class="text-danger">{{ error_width }}</div>
				  {% endif %}
				</div>
			  </div>
			  <div class="col-sm-6">
				<label class="col-sm-2 control-label" for="input-height">{{ entry_height }}</label>
				<div class="col-sm-10">
				  <input type="number" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" />
				  {% if error_height %}
				  <div class="text-danger">{{ error_height }}</div>
				  {% endif %}
				</div>
			  </div>
		  </div>
		  <div id="inputColor" class="form-group">
            <label class="col-sm-2 control-label" for="input-radius">{{ entry_radius }}</label>
            <div class="col-sm-10">
              <input type="number" name="radius" value="{{ radius }}" placeholder="{{ entry_radius }}" id="input-radius" class="form-control" />
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-cookie">{{ entry_cookie }}</label>
            <div class="col-sm-10">
              <select name="cookie" id="input-cookie" class="form-control">
                {% if cookie %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
		  <div id="block_countView" class="form-group" style="display:none;">
			<div class="col-sm-6">
              <label class="control-label" for="input-countView">{{ entry_countView }}</label>
              <div class="col-sm-10">
				<input type="number" name="countView" value="{{ countView }}" placeholder="{{ entry_countView }}" id="input-countView" class="form-control" />
				{% if error_countView %}
				  <div class="text-danger">{{ error_countView }}</div>
				{% endif %}
              </div>
			</div>
			<div class="col-sm-6">
              <label class="control-label" for="input-validity">{{ entry_validity }}</label>
              <div class="col-sm-12">
				<input type="number" name="validity" value="{{ validity }}" placeholder="{{ entry_validity }}" id="input-validity" class="form-control" />
              </div>
			</div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-viewSecond">{{ entry_viewSecond }}</label>
            <div class="col-sm-10">
              <input type="number" name="viewSecond" value="{{ viewSecond }}" placeholder="{{ entry_viewSecond }}" id="input-viewSecond" class="form-control" />
              {% if error_viewSecond %}
              <div class="text-danger">{{ error_viewSecond }}</div>
              {% endif %}
            </div>
          </div>
		  <div class="col-sm-12 form-group">
			  <div class="col-sm-6">
				<label class="control-label" for="input-closeModal">{{ entry_closeModal }}</label>
				<div class="col-sm-12">
				  <select name="closeModal" id="input-closeModal" class="form-control">
					{% if closeModal %}
					<option value="1" selected="selected">{{ text_btn }}</option>
					<option value="0">{{ text_second }}</option>
					{% else %}
					<option value="1">{{ text_btn }}</option>
					<option value="0" selected="selected">{{ text_second }}</option>
					{% endif %}
				  </select>
				</div>
			  </div>
			  <div id="inputCloseModalSecond" class="col-sm-6">
				<label class="control-label" for="input-closeModalSecond">{{ entry_closeModalSecond }}</label>
				<div class="col-sm-12">
				  <input type="number" name="closeModalSecond" value="{{ closeModalSecond }}" placeholder="{{ entry_closeModalSecond }}" id="input-closeModalSecond" class="form-control" />
				  {% if error_closeModalSecond %}
				  <div class="text-danger">{{ error_closeModalSecond }}</div>
				  {% endif %}
				</div>
			  </div>
		  </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-modalMobile">{{ entry_modalMobile }}</label>
            <div class="col-sm-10">
              <select name="modalMobile" id="input-modalMobile" class="form-control">
                {% if modalMobile %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-viewLogged">{{ entry_viewLogged }}</label>
            <div class="col-sm-10">
              <select name="viewLogged" id="input-viewLogged" class="form-control">
                {% if viewLogged==1 %}
                <option value="1" selected="selected">{{ text_all }}</option>
                <option value="2">{{ text_logged }}</option>
				 <option value="3">{{ text_noLogged }}</option>
                {% elseif viewLogged==2 %}
                <option value="1">{{ text_all }}</option>
                <option value="2" selected="selected">{{ text_logged }}</option>
				<option value="3">{{ text_noLogged }}</option>
                {% elseif viewLogged==3 %}
                <option value="1">{{ text_all }}</option>
                <option value="2">{{ text_logged }}</option>
				<option value="3" selected="selected">{{ text_noLogged }}</option>
                {% endif %}
              </select>
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-ifViewModal">{{ entry_ifViewModal }}</label>
            <div class="col-sm-10">
              <select name="ifViewModal" id="input-ifViewModal" class="form-control">
                {% if ifViewModal==1 %}
                <option value="1" selected="selected">{{ text_allView }}</option>
                <option value="2">{{ text_even }}</option>
				<option value="3">{{ text_odd }}</option>
				<option value="4">{{ text_forTime }}</option>
                {% elseif ifViewModal==2 %}
                <option value="1">{{ text_allView }}</option>
                <option value="2" selected="selected">{{ text_even }}</option>
				<option value="3">{{ text_odd }}</option>
				<option value="4">{{ text_forTime }}</option>
                {% elseif ifViewModal==3 %}
                <option value="1">{{ text_allView }}</option>
                <option value="2">{{ text_even }}</option>
				<option value="3" selected="selected">{{ text_odd }}</option>
				<option value="4">{{ text_forTime }}</option>
                {% elseif ifViewModal==4 %}
                <option value="1">{{ text_allView }}</option>
                <option value="2">{{ text_even }}</option>
				<option value="3">{{ text_odd }}</option>
				<option value="4" selected="selected">{{ text_forTime }}</option>
                {% endif %}
              </select>
            </div>
          </div>
		  <div id="formTime" class="form-group" style="display:none;">
			<div class="col-sm-4">
				<label class="control-label" for="input-timezone">{{ entry_timezone }}</label>
				<div class="col-sm-12">
					<input type="number" min="-12" max="14" name="timezone" value="{{ timezone }}" class="form-control" />
				</div>
			</div>
			<div class="col-sm-4">
				<label class="control-label" for="input-time-to">{{ entry_time_to }}</label>
				<div class="col-sm-12">
					<div class="input-group time">
						<input type="time" name="time_to" value="{{ time_to }}" class="form-control" />
					</div>
				</div>
			</div>	
			<div class="col-sm-4">
				<label class="control-label" for="input-time-from">{{ entry_time_from }}</label>
				<div class="col-sm-12">
					<div class="input-group time">
						<input type="time" name="time_from" value="{{ time_from }}" class="form-control" />
					</div>
				</div>
			</div>
		  </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
			<div class="col-sm-4">
				<label class="control-label" for="input-view_user">{{ text_view_user }}</label>
				<label id="labelView" class="control-label" for="input-view_user">{{ view_user }}</label>
				<a id="removeViewUser" class="btn btn-danger">{{ text_reset }}</a>
				<div class="col-sm-8">
					<input id="inputView" type="hidden" name="view_user" value="{{ view_user }}" class="form-control" />
				</div>
			</div>
        </form>
      </div>
    </div>
  </div>
  <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
  <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script> 
    
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
  <script type="text/javascript" src="view/javascript/jquery.form.min.js"></script>
  <script type="text/javascript"><!--
	$('#language a:first').tab('show');
  //--></script>
<script type="text/javascript"><!--
	function closeModal(){
		if ($('#input-closeModal').val()==0){
			$('#inputCloseModalSecond').css("display","block");
		}else{
			$('#inputCloseModalSecond').css("display","none");
		}
	}  
	function ifViewModal(){
		if ($('#input-ifViewModal').val()==4){
			$('#formTime').css("display","block");
		} else{
			$('#formTime').css("display","none");
		}		
	}
	function ifViewModal(){
		if ($('#input-ifViewModal').val()==4){
			$('#formTime').css("display","block");
		} else{
			$('#formTime').css("display","none");
		}		
	}
	function styleBg(){
		if ($('#input-styleBackground').val()==0){
			$('#inputColor').css("display","block");
			$('#inputBackground').css("display","none");
		} else{
			$('#inputColor').css("display","none");
			$('#inputBackground').css("display","block");
		}
	}
	function setCookie(){
		if ($('#input-cookie').val()==1){
			$('#block_countView').css("display","block");
		} else{
			$('#block_countView').css("display","none");
		}
	}
	closeModal();
	ifViewModal();
	styleBg();
	setCookie();
	
	$('#input-closeModal').on('change',function(){
		closeModal();
	});
	
	$('#input-ifViewModal').on('change',function(){
		ifViewModal();	
	});

	$('#input-styleBackground').on('change',function(){
		styleBg();
	});
	
	$('#input-cookie').on('change',function(){
		setCookie();
	});
	
	$('#removeViewUser').on('click',function(event){
		event.preventDefault();
		$('#inputView')[0].value=0;
		$('#labelView')[0].textContent='0';
	});
//--></script>
<script>
	setTimeout(function() { 
		$('#message_success').css("display", "none");
		$('#message_success')[0].textContent='';
	}, 10000);
</script>
</div>
{{ footer }}
