<style>
 #action{display:flex;flex-wrap:wrap;}
 #action .items{padding: 10px;color:#fff;border-radius:5px;margin-right:10px;cursor:pointer;margin-bottom:5px;}
 #action .items.active{background:#fff;color:#000;text-decoration: underline;border: 1px solid;}
 #action .items:last-child{margin-right:0;}
 #action .itemAction{padding: 10px;border-radius:5px;cursor:pointer;margin-right:10px;border: 1px solid grey;margin-bottom:5px;}
 #action #input-number{margin-right:10px;margin-bottom:5px;}
 #action #typePrice{margin-right:10px;height: 40px;}
 #action .itemAction.active{background:grey;color:#fff;}
 #action #button_apply{display:flex;align-items:center;height: 40px;}
 #action #button_reset{display:flex;align-items:center;}
</style>
{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">

    <div id="message" style="display:none" class="alert alert-dismissible"><i class="fa fa-exclamation-circle"></i>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
					<input type="hidden" name="module_gen_update_price_status" value="1" id="input-status">
		  		<div class="form-group">
						<label class="col-sm-12" for="input-status">{{ entry_formula }}</label>
						<div id="action" class="col-sm-12">
							<div class="items btn-success active" data-action="+">{{ text_plus }}</div>
							<div class="items btn-danger" data-action="-">{{ text_minuse }}</div>
							<div class="items btn-warning" data-action="*">{{ text_multiply }}</div>
							<div class="items btn-primary" data-action="/">{{ text_divide }}</div>
							<input type="hidden" name="action" value="+" id="input-action">
							<input type="number" step="0.01" name="number" id="input-number">
							<div class="itemAction active" data-action="number">{{ text_number }}</div>
							<div class="itemAction" data-action="percent">%</div>							
							<input type="hidden" name="action2" value="%" id="input-action2">
							<select id="typePrice" name="typePrice">
								<option value="price">Price</option>
								<option value="special-price">Special price</option>
							</select>
							<a id="button_apply" form="form-module" data-toggle="tooltip" title="{{ button_apply }}" class="btn btn-success"><i class="fa fa-save"></i> {{ button_apply }}</a>
						</div>
		  		</div>
					<div class="form-group">
						<div class="col-6">
							<label class="col-sm-12" for="input-status">{{ entry_reset }}</label>
							<div class="col-sm-10">
								<a id="button_reset" form="form-module" data-toggle="tooltip" title="{{ button_reset }}" class="btn btn-warning"><i class="fa fa-trash-o"></i></a>
							</div>
						</div>
						<div class="col-6">
							<label class="col-sm-12" for="input-status">{{ entry_update }}</label>
							<div class="col-sm-10">
								<a id="button_updateNewPrice" form="form-module" data-toggle="tooltip" title="{{ button_update }}" class="btn btn-success"><i class="fa fa-refresh"></i></a>
							</div>
						</div>
					</div>
        </form>
        <div class="table-responsive">
        	<table class="table table-bordered table-hover">
            <thead>
              <tr>
              	<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                <td class="text-center">ID</td>
                <td class="text-left">{{ column_name }}</td>
                <td class="text-left">{{ column_model }}</td>
                <td class="text-right">{{ column_price }}</td>
                <td class="text-left">{{ column_status }}</td>
              </tr>
            </thead>
            <tbody>
              {% if products %}
                {% for product in products %}
                  <tr>
                    <td class="text-center">
											{% if product.product_id in selected %}
                      	<input type="checkbox" name="selected" value="{{ product.product_id }}" checked="checked" />
                      {% else %}
                      	<input type="checkbox" name="selected" value="{{ product.product_id }}" />
                      {% endif %}
										</td>
				            <td class="text-center">{{ product.product_id }}</td>
                    <td class="text-left">{{ product.name }}</td>
                    <td class="text-left">{{ product.model }}</td>
                    <td class="text-right">
											{% if product.special %} 
												<span style="text-decoration: line-through;">{{ product.price }}</span><br/>
                      	<div class="text-danger">{{ product.special }}</div>
                      {% else %}
                      	{{ product.price }}
                      {% endif %}
										</td>
                    <td class="text-left">{{ product.status }}</td>
                  </tr>
                {% endfor %}
              {% else %}
								<tr>
									<td class="text-center" colspan="8">{{ text_no_results }}</td>
								</tr>
            	{% endif %}
            </tbody>
          </table>
					<div class="row">
						<div class="col-sm-6 text-left">{{ pagination }}</div>
						<div class="col-sm-6 text-right">{{ results }}</div>
					</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$('#action .itemAction').on('click',function(e){

	let value= $(e.target).data('action');
	$('#action .itemAction').removeClass('active');
	$(e.target).addClass('active');
	$('#input-action2').val(value);
});
$('#action .items').on('click',function(e){
	let value= $(e.target).data('action');
	$('#action .items').removeClass('active');
	$(e.target).addClass('active');
	$('#input-action').val(value);
});
$('#button_apply').on('click',function(e){
	e.preventDefault();
	const message=document.querySelector("#message");
	//console.log(message);
	let action=$('#input-action').val();
	let typePrice=$('#typePrice')[0].value;
	let number=$('#input-number').val();
	let action2=$('#input-action2').val();
	let products=$('input[name="selected"]');
	let checkedProducts=[];
	for(let i=0;i<products.length;i++){
		if(products[i].checked){
			checkedProducts.push(products[i].value);
		}
	}
	console.log(typePrice);
	

		$.ajax({
			url: 'index.php?route=extension/module/gen_update_price/apply&user_token={{ user_token }}',
			type: 'post',
			data: {
				action,
				number,
				action2,
				typePrice,
				checkedProducts
			},
			dataType: 'json',									
			success: function(json) { 

				message.style.display='block';	
				message.classList.remove('alert-danger');
				message.classList.add('alert-success');
				message.textContent="{{ text_success }}";
				setTimeout(function() { 
					message.style.display='none';
					document.location.reload();
				}, 5000);	

			},
			error: function(xhr, textStatus, errorThrown) {
				//console.log(xhr.responseText);
				//console.log(textStatus);
				message.style.display='block';
				message.classList.remove('alert-success');
				message.classList.add('alert-danger');
				message.textContent="{{ error_block }}";
				setTimeout(function() { 
					message.style.display='none';
				}, 5000);
			}			
		});
	
});
$('#button_reset').on('click',function(e){
	e.preventDefault();
	const message=document.querySelector("#message");
		$.ajax({
		url: 'index.php?route=extension/module/gen_update_price/resetPrice&user_token={{ user_token }}',
		type: 'post',
		data: {
			checked: ''
		},
		dataType: 'json',									
		success: function(json) {
			message.style.display='block';	
			message.classList.remove('alert-danger');
			message.classList.add('alert-success');
			message.textContent="{{ text_success }}";
			setTimeout(function() { 
				message.style.display='none';
				document.location.reload();
			}, 10000);
		},
		error: function(xhr, textStatus, errorThrown) {
			console.log(xhr.responseText);
			console.log(textStatus);
			message.style.display='block';
			message.classList.remove('alert-success');
			message.classList.add('alert-danger');
			message.textContent="{{ error_block }}";
			setTimeout(function() { 
				message.style.display='none';
			}, 10000);
		}			
	});
});

$('#button_updateNewPrice').on('click',function(e){
	e.preventDefault();
	const message=document.querySelector("#message");
		$.ajax({
		url: 'index.php?route=extension/module/gen_update_price/updateNewPrice&user_token={{ user_token }}',
		type: 'post',
		data: {
			checked: ''
		},
		dataType: 'json',									
		success: function(json) {
			message.style.display='block';	
			message.classList.remove('alert-danger');
			message.classList.add('alert-success');
			message.textContent="{{ text_success }}";
			setTimeout(function() { 
				message.style.display='none';
				document.location.reload();
			}, 10000);
		},
		error: function(xhr, textStatus, errorThrown) {
			console.log(xhr.responseText);
			console.log(textStatus);
			message.style.display='block';
			message.classList.remove('alert-success');
			message.classList.add('alert-danger');
			message.textContent="{{ error_block }}";
			setTimeout(function() { 
				message.style.display='none';
			}, 10000);
		}			
	});
});
</script>
{{ footer }}