{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
		  <ul class="nav nav-tabs">
			<li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
			<li><a href="#tab-data" data-toggle="tab">{{ tab_setting_swiper }}</a></li>
		  </ul>
		  <div class="tab-content">
			<div class="tab-pane active" id="tab-general">
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
				<div class="col-sm-10">
				  <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
				  {% if error_name %}
					<div class="text-danger">{{ error_name }}</div>
				  {% endif %}
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-viewTitle">{{ entry_viewTitle }}</label>
				<div class="col-sm-10">
				  <select name="viewTitle" id="input-viewTitle" class="form-control">
					{% if viewTitle %}
					  <option value="1" selected="selected">{{ text_enabled }}</option>
					  <option value="0">{{ text_disabled }}</option>
					{% else %}
				      <option value="1">{{ text_enabled }}</option>
					  <option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %}
				  </select>
				</div>
			  </div>		  
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-template">{{ entry_template }}</label>
				<div class="col-sm-10">
				  <select name="template" id="input-testimonial" class="form-control">
					{% if template=='1' %}
						<option value="1" selected="selected">{{ text_template1 }}</option>
						<option value="2">{{ text_template2 }}</option>
						<option value="3">{{ text_template3 }}</option>
						<option value="4">{{ text_template4 }}</option>
						<option value="5">{{ text_template5 }}</option>
					{% elseif template==2 %}
						<option value="1">{{ text_template1 }}</option>
						<option value="2" selected="selected">{{ text_template2 }}</option>
						<option value="3">{{ text_template3 }}</option>
						<option value="4">{{ text_template4 }}</option>
						<option value="5">{{ text_template5 }}</option>						
					{% elseif template==3 %}
						<option value="1">{{ text_template1 }}</option>
						<option value="2">{{ text_template2 }}</option>
						<option value="3" selected="selected">{{ text_template3 }}</option>
						<option value="4">{{ text_template4 }}</option>
						<option value="5">{{ text_template5 }}</option>						
					{% elseif template==4 %}
						<option value="1">{{ text_template1 }}</option>
						<option value="2">{{ text_template2 }}</option>
						<option value="3">{{ text_template3 }}</option>
						<option value="4" selected="selected">{{ text_template4 }}</option>
						<option value="5">{{ text_template5 }}</option>						
					{% elseif template==5 %}
						<option value="1">{{ text_template1 }}</option>
						<option value="2">{{ text_template2 }}</option>
						<option value="3">{{ text_template3 }}</option>
						<option value="4">{{ text_template4 }}</option>
						<option value="5" selected="selected">{{ text_template5 }}</option>						
					{% endif %}
				  </select>
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-display_avatar">{{ entry_display_avatar }}</label>
				<div class="col-sm-10">
				  <select name="display_avatar" id="input-display_avatar" class="form-control">
					{% if display_avatar %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0">{{ text_disabled }}</option>
					{% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %}
				  </select>
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-display_quotes">{{ entry_display_quotes }}</label>
				<div class="col-sm-10">
				  <select name="display_quotes" id="input-display_quotes" class="form-control">
					{% if display_quotes %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0">{{ text_disabled }}</option>
					{% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %}
				  </select>
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-display_client">{{ entry_display_client }}</label>
				<div class="col-sm-10">
				  <select name="display_client" id="input-display_client" class="form-control">
					{% if display_client %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0">{{ text_disabled }}</option>
					{% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %}
				  </select>
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-display_job">{{ entry_display_job }}</label>
				<div class="col-sm-10">
				  <select name="display_job" id="input-display_job" class="form-control">
					{% if display_job %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0">{{ text_disabled }}</option>
					{% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %}
				  </select>
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-display_company">{{ entry_display_company }}</label>
				<div class="col-sm-10">
				  <select name="display_company" id="input-display_company" class="form-control">
					{% if display_company %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0">{{ text_disabled }}</option>
					{% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %}
				  </select>
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
				<div class="col-sm-10">
				  <select name="status" id="input-status" class="form-control">
					{% if status %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0">{{ text_disabled }}</option>
					{% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %}
				  </select>
				</div>
			  </div>
			</div>
			<div class="tab-pane" id="tab-data">
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-direction">{{ entry_direction }}</label>
				<div class="col-sm-10">
				  <select name="direction" id="input-direction" class="form-control">
					{% if direction %}
					<option value="horizontal" selected="selected">{{ text_horizontal }}</option>
					<option value="vertical">{{ text_vertical }}</option>
					{% else %}
					<option value="horizontal">{{ text_horizontal }}</option>
					<option value="vertical" selected="selected">{{ text_vertical }}</option>
					{% endif %}
				  </select>
				</div>
			  </div>			  
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-effect">{{ entry_effect }}</label>
				<div class="col-sm-10">
				  <select name="effect" id="input-effect" class="form-control">
					{% if effect=='fade' %}
						<option value="slide">{{ text_slide }}</option>
						<option value="fade" selected="selected">{{ text_fade }}</option>
						<option value="cube">{{ text_cube }}</option>
						<option value="coverflow">{{ text_coverflow }}</option>
						<option value="flip">{{ text_flip }}</option>
						<option value="creative">{{ text_creative }}</option>
						<option value="cards">{{ text_cards }}</option>
					{% elseif effect=='cube' %}
						<option value="slide">{{ text_slide }}</option>
						<option value="fade">{{ text_fade }}</option>
						<option value="cube" selected="selected">{{ text_cube }}</option>
						<option value="coverflow">{{ text_coverflow }}</option>
						<option value="flip">{{ text_flip }}</option>
						<option value="creative">{{ text_creative }}</option>
						<option value="cards">{{ text_cards }}</option>
					{% elseif effect=='coverflow' %}
						<option value="slide">{{ text_slide }}</option>
						<option value="fade">{{ text_fade }}</option>
						<option value="cube">{{ text_cube }}</option>
						<option value="coverflow" selected="selected">{{ text_coverflow }}</option>
						<option value="flip">{{ text_flip }}</option>
						<option value="creative">{{ text_creative }}</option>
						<option value="cards">{{ text_cards }}</option>
					{% elseif effect=='flip' %}
						<option value="slide">{{ text_slide }}</option>
						<option value="fade">{{ text_fade }}</option>
						<option value="cube">{{ text_cube }}</option>
						<option value="coverflow">{{ text_coverflow }}</option>
						<option value="flip" selected="selected">{{ text_flip }}</option>
						<option value="creative">{{ text_creative }}</option>
						<option value="cards">{{ text_cards }}</option>
					{% elseif effect=='creative' %}
						<option value="slide">{{ text_slide }}</option>
						<option value="fade">{{ text_fade }}</option>
						<option value="cube">{{ text_cube }}</option>
						<option value="coverflow">{{ text_coverflow }}</option>
						<option value="flip">{{ text_flip }}</option>
						<option value="creative" selected="selected">{{ text_creative }}</option>
						<option value="cards">{{ text_cards }}</option>
					{% elseif effect=='cards' %}
						<option value="slide">{{ text_slide }}</option>
						<option value="fade">{{ text_fade }}</option>
						<option value="cube">{{ text_cube }}</option>
						<option value="coverflow">{{ text_coverflow }}</option>
						<option value="flip">{{ text_flip }}</option>
						<option value="creative">{{ text_creative }}</option>
						<option value="cards" selected="selected">{{ text_cards }}</option>
					{% else %}
						<option value="slide" selected="selected">{{ text_slide }}</option>
						<option value="fade">{{ text_fade }}</option>
						<option value="cube">{{ text_cube }}</option>
						<option value="coverflow">{{ text_coverflow }}</option>
						<option value="flip">{{ text_flip }}</option>
						<option value="creative">{{ text_creative }}</option>
						<option value="cards">{{ text_cards }}</option>
					{% endif %}
				  </select>
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-enabled">{{ entry_enabled }}</label>
				<div class="col-sm-10">
				  <select name="enabled" id="input-enabled" class="form-control">
					{% if enabled %}
						<option value="true" selected="selected">{{ text_enabled }}</option>
						<option value="false">{{ text_disabled }}</option>
					{% else %}
						<option value="true">{{ text_enabled }}</option>
						<option value="false" selected="selected">{{ text_disabled }}</option>
					{% endif %}
				  </select>
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-followFinger" title="{{ help_followFinger }}">{{ entry_followFinger }}</label>
				<div class="col-sm-10">
				  <select name="followFinger" id="input-followFinger" class="form-control">
					{% if followFinger %}
						<option value="true" selected="selected">{{ text_enabled }}</option>
						<option value="false">{{ text_disabled }}</option>
					{% else %}
						<option value="true">{{ text_enabled }}</option>
						<option value="false" selected="selected">{{ text_disabled }}</option>
					{% endif %}
				  </select>
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-loop">{{ entry_loop }}</label>
				<div class="col-sm-10">
				  <select name="loop" id="input-loop" class="form-control">
					{% if loop %}
						<option value="true" selected="selected">{{ text_enabled }}</option>
						<option value="false">{{ text_disabled }}</option>
					{% else %}
						<option value="true">{{ text_enabled }}</option>
						<option value="false" selected="selected">{{ text_disabled }}</option>
					{% endif %}
				  </select>
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-preloadImages" title="{{ help_preloadImages }}">{{ entry_preloadImages }}</label>
				<div class="col-sm-10">
				  <select name="preloadImages" id="input-preloadImages" class="form-control">
					{% if preloadImages %}
						<option value="true" selected="selected">{{ text_enabled }}</option>
						<option value="false">{{ text_disabled }}</option>
					{% else %}
						<option value="true">{{ text_enabled }}</option>
						<option value="false" selected="selected">{{ text_disabled }}</option>
					{% endif %}
				  </select>
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-longSwipesMs" title="{{ help_longSwipesMs }}">{{ entry_longSwipesMs }}</label>
				<div class="col-sm-10">
				  <input type="text" name="longSwipesMs" value="{{ longSwipesMs }}" placeholder="{{ entry_longSwipesMs }}" id="input-longSwipesMs" class="form-control" />
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-spaceBetween" title="{{ help_spaceBetween }}">{{ entry_spaceBetween }}</label>
				<div class="col-sm-10">
				  <input type="text" name="spaceBetween" value="{{ spaceBetween }}" placeholder="{{ entry_spaceBetween }}" id="input-spaceBetween" class="form-control" />
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-autoplay">{{ entry_autoplay }}</label>
				<div class="col-sm-10">
				  <input type="text" name="autoplay" value="{{ autoplay }}" placeholder="{{ entry_autoplay }}" id="input-autoplay" class="form-control" />
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-viewnavigation">{{ entry_viewnavigation }}</label>
				<div class="col-sm-10">
				  <select name="viewnavigation" id="input-viewnavigation" class="form-control">
					{% if viewnavigation %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0">{{ text_disabled }}</option>
					{% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %}
				  </select>
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label" for="input-viewPagination">{{ entry_viewPagination }}</label>
				<div class="col-sm-10">
				  <select name="viewPagination" id="input-viewPagination" class="form-control">
					{% if viewPagination %}
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0">{{ text_disabled }}</option>
					{% else %}
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %}
				  </select>
				</div>
			  </div>
			</div>
		  </div>
		</form>
	  </div>
    </div>
  </div>
</div>
{{ footer }}