{{ header }} 
<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %} 
    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
    {% endfor %} 
  </ul>
	<div class="row">{{ column_left }} 
		{% if (column_left and column_right) %} 
		{% set class = 'col-sm-6' %} 
		{% elseif (column_left or column_right) %} 
		{% set class = 'col-sm-9' %} 
		{% else %} 
		{% set class = 'col-sm-12' %} 
		{% endif %} 
		<div id="content" class="{{ class }}">{{ content_top }} 
			<h1><center>{{ heading_title }}</center></h1>
			{% if (results) %} 
			<div class="row">
				<div class="col-md-3">

				</div>
				<div class="col-md-2 text-right">
					<label class="control-label" for="input-sort">{{ text_sort }}</label>
				</div>
				<div class="col-md-3 text-right">
					<select id="input-sort" class="form-control" onchange="location = this.value;">
						{% for sorts in sorts %} 
						{% if (sorts['value'] == sort ~ '-' ~ order) %} 
						<option value="{{ sorts['href'] }}" selected="selected">{{ sorts['text'] }}</option>
						{% else %} 
						<option value="{{ sorts['href'] }}">{{ sorts['text'] }}</option>
						{% endif %} 
						{% endfor %} 
					</select>
				</div>
				<div class="col-md-2 text-right">
					<label class="control-label" for="input-limit">{{ text_limit }}</label>
				</div>
				<div class="col-md-2 text-right">
					<select id="input-limit" class="form-control" onchange="location = this.value;">
						{% for limits in limits %} 
						{% if (limits['value'] == limit) %} 
						<option value="{{ limits['href'] }}" selected="selected">{{ limits['text'] }}</option>
						{% else %} 
						<option value="{{ limits['href'] }}">{{ limits['text'] }}</option>
						{% endif %} 
						{% endfor %} 
					</select>
				</div>
			</div>
			<br />
			<div class="row">
				{% for events_item in events_list %} 
				<div class="product-layout product-list col-xs-12" style="width:100%;">
					<div style="margin-bottom: 20px; overflow: auto;">
						{% if (events_item['thumb']) %} 
						<div class="image"><a href="{{ events_item['href'] }}">
						<img style="margin-right:20px;" align="left" src="{{ events_item['thumb'] }}" alt="{{ events_item['title'] }}" title="{{ events_item['title'] }}" class="img-responsive" /></a></div>
						{% endif %}
						<div>
							<div class="caption" style="margin-left:50px">
								{{event_date_to}}{{ events_item['date_to'] }}
								{{event_date_from}}{{ events_item['date_from'] }}<br>
								<h4><a href="{{ events_item['href'] }}">{{ events_item['title'] }}</a></h4>
								<p>{{ events_item['description'] }}</p>
							</div>
							<div class="buttons">
								<div class="pull-right"><a href="{{ events_item['href'] }}" class="btn btn-primary">{{ text_more }}</a></div>
							</div>							
						</div>
					</div>
					<hr style="color: black; background-color: black; height: 1px;">
				</div>
				{% endfor %} 
			</div>
			<div class="row">
				<div class="col-sm-6 text-left">{{ pagination }}</div>
				<div class="col-sm-6 text-right">{{ results }}</div>
			</div>
			{% else %} 
			<p>{{ text_empty }}</p>
			<div class="buttons">
				<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
			</div>
			{% endif %} 
			
			{{ content_bottom }} 
		</div>
	{{ column_right }}</div>
</div>
{{ footer }}