{{ header }}
<div class="container">
	<ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
		<li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
		{% endfor %}
	</ul>
	<div class="row">
		<div class="col-sm-12">
			{% for testimonation in testimonations %}

			<div class="opgtm-testimonial_item">
				<div class="opgtm-testimonial_item__header">
					<div class="opgtm-avtar-image">
						{% if testimonation.author_image %}
						<img src="{{ testimonation.author_image }}" alt="avatar" class="opgtm-{{ class_image }}">
						{% else %}
						<div class="opgtm-avatar-name opgtm-{{ class_image }}" style="{{ testimonation.avatar_name_color }}">
							{{ testimonation.avatar_name }}
						</div>
						{% endif %}
						{% if testimonation.author %}
						<div class="opgtm-testimonial-client">
							<strong>{{ testimonation.author }}</strong>
						</div>
						{% endif %}
					</div>
					<div class="opgtm-testimonial_item__header_bottom">
						<div class="opgtm-block_recomended">
							<strong>{{ testimonation.text_recomended_shop }}</strong>&nbsp;
							{{ entry_rating }}&nbsp;-&nbsp;{{ testimonation.rating }}
						</div>
					</div>
				</div>
				<div class="opgtm-testimonial_item__main">
					<div class="opgtm-content_description">
						{{ testimonation.description }}
					</div>
				</div>
				<div class="opgtm-testimonial_item__footer">
					<div id="testimonial_note-{{ testimonation.id }}" class="testimonial_note"></div>
					<div class="review-rating-change-buttons">
						<span class="change-rating-button">
							<a class="testimonation-positive" data-value="{{ testimonation.positive }}"
								data-id="{{ testimonation.id }}">
								<i class="ex-like fa fa-thumbs-up"></i>
								<span class="review-vote-count" id="vote_count_positive-{{ testimonation.id }}">{{
									testimonation.positive }}</span>
							</a>
						</span>
						<span class="change-rating-button">
							<a class="testimonation-negative" data-value="{{ testimonation.negative }}"
								data-id="{{ testimonation.id }}">
								<i class="ex-dislike fa fa-thumbs-up"></i>
								<span class="review-vote-count" id="vote_count_negative-{{ testimonation.id }}">
									{{ testimonation.negative }}
								</span>
							</a>
						</span>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>


<script type="text/javascript"><!--
	$('.testimonation-negative').on('click', function() {
	  let id = $(this).data("id");

    $('#testimonial_note-'+id+' .alert').remove();



	  let ls_negative = "negative"+id;
		let ls_positive = "positive"+id;
	  let note_block = $("#testimonial_note-"+id);
		let vote_count_negative = $('#vote_count_negative-'+id);
		let vote_count_positive = $('#vote_count_positive-'+id);
		let valueNegative=0;
		let valuePositive=0;

	  if(localStorage.getItem(ls_negative) == null){
			if(localStorage.getItem(ls_positive) == null){
				valueNegative = parseInt(vote_count_negative.text())-1;
				valuePositive = vote_count_positive.text();
			}else{
				valueNegative = parseInt(vote_count_negative.text())-1;
				valuePositive = parseInt(vote_count_positive.text())-1;
			}

	    $.ajax({
	      url: 'index.php?route=extension/module/gentestimonials/updateTestomonialRating',
	  		type: 'post',
	  		data: { testimonial_id : id, negative : valueNegative, positive : valuePositive } ,
	      dataType: 'json',
	      success: function(json) {
	        if (json['success']) {
						vote_count_negative.text(valueNegative);
						vote_count_positive.text(valuePositive);
	        	localStorage.setItem(ls_negative , true);
	      	}
	      }
	    });
	    $(note_block).append('<div class="alert alert-success m-0"><i class="fa fa-check" aria-hidden="true"></i>&nbsp; {{ alert_success_updateRating }}</div>');
	  }
	  else{
	    $(note_block).append('<div class="alert alert-warning m-0">{{ alert_warning_updateRating }}</div>');
	  }
	});
	$('.testimonation-positive').on('click', function() {
    
	  let id = $(this).data("id");
    $('#testimonial_note-'+id+' .alert').remove();

	  let ls_negative = "negative"+id;
		let ls_positive = "positive"+id;
	  let note_block = $("#testimonial_note-"+id);
		let vote_count_negative = $('#vote_count_negative-'+id);
		let vote_count_positive = $('#vote_count_positive-'+id);
		let valueNegative=0;
		let valuePositive=0;

	  if(localStorage.getItem(ls_positive) == null){
			if(localStorage.getItem(ls_negative) == null){
				valuePositive = parseInt(vote_count_positive.text())+1;
				valueNegative = vote_count_negative.text();
			}else{
				valueNegative = parseInt(vote_count_negative.text())+1;
				valuePositive = parseInt(vote_count_positive.text())+1;
			}

	    $.ajax({
	      url: 'index.php?route=extension/module/gentestimonials/updateTestomonialRating',
	  		type: 'post',
	  		data: { testimonial_id : id, negative : valueNegative, positive : valuePositive } ,
	      dataType: 'json',
	      success: function(json) {
	        if (json['success']) {
						vote_count_negative.text(valueNegative);
						vote_count_positive.text(valuePositive);
						localStorage.setItem(ls_positive , true);
	      	}
	    }
	    });
	    $(note_block).append('<div class="alert alert-success m-0"><i class="fa fa-check" aria-hidden="true"></i>&nbsp; {{ alert_success_updateRating }}</div>');
	  }
	  else{
	      $(note_block).append('<div class="alert alert-warning m-0">{{ alert_warning_updateRating }}</div>');
	  }
	});
//--></script>

{{ footer }}