{% for testimonation in testimonations %}
<div class="swiper-slide">
	<div class="opgtm-testimonial-content">
		<div class="opgtm-testimonial-left">
			<i class="fa fa-quote-left"></i>
		</div>
		<div class="opgtm-testimonial-right">
			<div class="opgtm-testimonials-title_rating">
				<h4>{{ testimonation.testimonial_title }}</h4>
				{% if display_rating %}
					<div class="rating"> {% for j in 1..5 %}
						{% if testimonation.rating < j %} <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span> {% else %} <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span> {% endif %}
						{% endfor %} 
					</div>
				{% endif %}
			</div>
			<div class="opgtm-testimonials-text">
					{% if display_quotes %} <div class="quotes"> {% endif %}
						<div class="opgtm-content_description">
						  {{ testimonation.description }} 
						</div>
					{% if display_quotes %} </div> {% endif %}
			</div>
			<div class="opgtm-group">
				{% if testimonation.author_image and display_avatar %}
					<div class="opgtm-testimonial-left">
						<div class="opgtm-avtar-image"><img src="{{ testimonation.author_image }}" alt="avatar" class="opgtm-{{ class_image }}"></div>
					</div>
				{% endif %}	
				<div class="opgtm-testimonial-right">
					{% if display_client  and  testimonation.author %}
						<div class="opgtm-testimonial-client">
							{{ testimonation.author }}
						</div>
					{% endif %}
					{% if display_job  and  job_title  or  display_company  and  testimonation.company %}
						<div class="opgtm-testimonial-job">
							{% if display_job  and  testimonation.job_title %}
								{{ testimonation.job_title }}
							{% endif %}
							{% if display_job  and  testimonation.job_title  and  display_company  and  testimonation.company %} 
								{{ " / " }}
							{% endif %}
							{% if display_company  and  testimonation.company %}
								{% if testimonation.urlCompany=='' %}
									{{ testimonation.company}}
								{% else %}
									{{ '<a href="'~testimonation.urlCompany~'" > '~testimonation.company~' </a>' }}
								{% endif %}
							{% endif %}
						</div>
					{% endif %}
					{% if display_date %}
						<div class="opgtm-testimonials-date_added">
							<div class="date_added"> {{ testimonation.date_added }}</div>
						</div>
					{% endif %}

				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}