<div>
<h3>{{ title_module }}</h3>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
		labels: [{% for work in works %}'{{ work["title"] }}',{% endfor %}],
		datasets: [{
        data: [
			{% for work in works %}[{{ work["month_start"] }},{{ work["month_end"] }}],{% endfor %}
		],
		backgroundColor: [
		  {% for work in works %}'{{ work["color"] }}',{% endfor %}
		],
        borderWidth: 1,
		BorderRadius: 20
      }]
    },
    options: {
      indexAxis: 'y',
	  scales:{
		x:{
		  ticks:{
			stepSize: 1,
			callback: function(value, index, ticks) {
              return value+'-й месяц';
            }
		  }
		 }
	  },
	  plugins: {
		legend: {display: 0},
		tooltip: {enabled:false},
	  }
    }
  });
</script>