<div class="subscribe-box" style="margin-bottom: 20px;">
	<h3 class="subscribe-title">{{ heading_title }}</h3>
	<div class="subscribe-form">
		<form class="form-inline" action="" method="post" enctype="multipart/form-data">
		  <div class="form-group required">
		    <label class="sr-only" for="input-name">{{ name }}</label>
			  <input type="text" class="form-control" name="txtname" id="txtname" placeholder="{{ name }}">
			  <label class="sr-only" for="exampleInputAmount">Email:</label>
		      <input type="email" class="form-control" name="txtemail" id="txtemail" placeholder="Email">
			  <label class="sr-only" for="input-town">{{ town }}</label>
			  <input type="text" class="form-control" name="txttown" id="txttown" placeholder="{{ town }}">
		  </div>
		  <button type="submit" class="btn btn-primary" onclick="subscribe1(event);">{{ but_newsletter }}</button>
		</form>      
	</div>
</div>
<script>
	function subscribe1(event){
		event.preventDefault();
		$.ajax({
			url: 'index.php?route=extension/module/newsletters/setSubscribe',
			type: 'post',
			data: {
				email: $('#txtemail').val(),
				name: $('#txtname').val(),
				town: $('#txttown').val()
			},
			dataType: 'json',									
			success: function(json) { 
				alert(json.message);
				$('#txtemail').val('');
				$('#txtname').val('');
				$('#txttown').val('');
			}						
		});
	}
</script>