{{ header }}{{ column_left }} 
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-module" name="apply" data-toggle="tooltip" title="{{ button_apply }}" class="btn btn-success"><i class="fa fa-check"></i></button>
				<button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %} 
				<li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
				{% endfor %} 
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if (error_warning) %} 
		<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %} 
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
			</div>
			<div class="panel-body">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab-main" data-toggle="tab">{{ tab_main }}</a></li>
					<!--li><a href="#tab-license" data-toggle="tab">{{ tab_license }}</a></li-->
				</ul>
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
					<div class="tab-content">
						<div class="tab-pane active form-horizontal" id="tab-main">
							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
								<div class="col-sm-10">
									<select name="feed_simple_yml_status" id="input-status" class="form-control">
										<option value="0" {{ "0" == feed_simple_yml_status ? "selected" : "" }}>{{ text_disabled }}</option>
										<option value="1" {{ "1" == feed_simple_yml_status ? "selected" : "" }}>{{ text_enabled }}</option>
									</select>
									<br>
									<div id="sitemap-staticGoogle">
										{{ text_feedGoogle }}: <code>{{ feed_linkGoogle }}</code>
									</div>
									<br>
									<div id="sitemap-staticFacebook">
										{{ text_feedFacebook }}: <code>{{ feed_linkFacebook }}</code>
									</div>
									<br>
									<div id="sitemap-staticInstagram">
										{{ text_feedInstagram }}: <code>{{ feed_linkInstagram }}</code>
									</div>
								</div>
							</div>
						</div>

						<div class="tab-pane form-horizontal" id="tab-license" style="display:none;">
							<div class="form-group">
								<label class="col-sm-2 control-label"></label>
								<div class="col-sm-10">
									{{ text_copyright }}
								</div>
							</div>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{{ footer }}