{{ header }}{{ column_left }} 
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-events" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
				<h1>{{ heading_title }}</h1>
				<ul class="breadcrumb">
					{% for breadcrumb in breadcrumbs %} 
					<li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
					{% endfor %} 
				</ul>
			</div>
		</div>
		<div class="container-fluid">
			{% if (error_warning) %} 
			<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			{% endif %} 
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
				</div>
				<div class="panel-body">
					<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-events" class="form-horizontal">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
							<li><a href="#tab-data" data-toggle="tab">{{ tab_data }}</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tab-general">
								<div class="form-group required">
									<label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
									<div class="col-sm-10">
										<input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
										{% if error_name %}
										  <div class="text-danger">{{ error_name }}</div>
										{% endif %} 
									</div>
								</div>
								<ul class="nav nav-tabs" id="language">
									{% for language in languages %} 
									<li><a href="#language{{ language['language_id'] }}" data-toggle="tab"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /> {{ language['name'] }}</a></li>
									{% endfor %} 
								</ul>
								<div class="tab-content">
									{% for language in languages %} 
									<div class="tab-pane" id="language{{ language['language_id'] }}">
										<div class="form-group required">
											<label class="col-sm-2 control-label" for="input-title{{ language['language_id'] }}">{{ entry_title }}</label>
											<div class="col-sm-10">
												<input type="text" name="work_description[{{ language['language_id'] }}][title]" value="{{ work_description[language['language_id']] is defined ? work_description[language['language_id']]['title'] : '' }}" placeholder="{{ entry_title }}" id="input-title{{ language['language_id'] }}" class="form-control" />
												{% if (error_title[language['language_id']] is defined) %} 
												<div class="text-danger">{{ error_title[language['language_id']] }}</div>
												{% endif %} 
											</div>
										</div>
									</div>
									{% endfor %} 
								</div>
							</div>
							<div class="tab-pane" id="tab-data">
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-product"><span data-toggle="tooltip" title="{{ help_product }}">{{ entry_product }}</span></label>
									<div class="col-sm-10">
									  <input type="text" name="product_name" value="" placeholder="{{ entry_product }}" id="input-product" class="form-control" />
									  <div id="product" class="well well-sm" style="height: 150px; overflow: auto;"> 
										{% for product in products %} 
										  <div id="product{{ product['product_id'] }}"><i class="fa fa-minus-circle"></i> {{ product['name'] }}
											<input type="hidden" name="product[]" value="{{ product['product_id'] }}" />
										  </div>
										{% endfor %}</div>
									</div>
								</div>
								<div class="form-group">
								  <div class="col-sm-6">
									<label class="col-sm-4 control-label" for="input-month_start">{{ entry_month_start }}</label>
									<div class="col-sm-6">
										<div class="input-group">
											<input type="number" name="month_start" value="{{ month_start }}" placeholder="{{ entry_month_start }}" id="input-month_start" class="form-control" />
										</div>
									</div>
								  </div>
								  <div class="col-sm-6">
									<label class="col-sm-4 control-label" for="input-month_end">{{ entry_month_end }}</label>
									<div class="col-sm-6">
										<div class="input-group">
											<input type="number" name="month_end" value="{{ month_end }}" placeholder="{{ entry_month_end }}" id="input-month_end" class="form-control" />
										</div>
									</div>
								  </div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-color"><span data-toggle="tooltip" title="{{ help_color }}">{{ entry_color }}</span></label>
									<div class="col-sm-10">
										<input type="text" name="color" value="{{ color }}" placeholder="{{ entry_color }}" id="input-color" class="form-control" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
									<div class="col-sm-10">
									  <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
									<div class="col-sm-10">
										<select name="status" id="input-status" class="form-control">
											{% if (status) %} 
											<option value="1" selected="selected">{{ text_enabled }}</option>
											<option value="0">{{ text_disabled }}</option>
											{% else %} 
											<option value="1">{{ text_enabled }}</option>
											<option value="0" selected="selected">{{ text_disabled }}</option>
											{% endif %} 
										</select>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
    
<script type="text/javascript"><!--
		$('.date').datetimepicker({
			pickTime: false
		});
		$('#language a:first').tab('show');
	//--></script>
	  
<script type="text/javascript"><!--
$('input[name=\'product_name\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=extension/module/gen_graph_product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'product_name\']').val('');

		$('#product' + item['value']).remove();

		$('#product').append('<div id="product' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product[]" value="' + item['value'] + '" /></div>');
	}
});

$('#product').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});

//--></script></div>
	{{ footer }}