{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-gen_product_statistics_status" name="apply" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-success"><i class="fa fa-save"></i></button>
        <button type="submit" form="form-gen_product_statistics_status" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-gen_product_statistics_status" class="form-horizontal">
          <div class="row">
            <table id="table_statistics" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <td class="text-left">{{ entry_list_column }}</td>
                  <td class="text-left">{{ entry_list_column_name }}</td>
                  <td class="text-left"></td>
                </tr>
              </thead>
              <tbody>
                {% set field_row = 0 %}
                {% for key,statistic_field in statistic_fields.field %}
                  <tr id="field-row{{ field_row }}">
                    <td class="text-left">
                      <select name="statistic_field[field][{{ field_row }}]" class="form-control">
                        {% for field in fields %}
                          {% if field.index == statistic_field %}
                            <option value="{{ field.index }}" selected="selected">{{ field.index }}</option>
                          {% else %}
                            <option value="{{ field.index }}">{{ field.index }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </td>
                    <td class="text-left">
                      <input type="text" name="statistic_field[name][{{ field_row }}]" value="{{ statistic_fields.name[ key ] }}" placeholder="{{ entry_list_column_name }}" id="input-name" class="form-control" />
                    </td>
                    <td class="text-left">
                      <button type="button" onclick="$('#field-row{{ field_row }}').remove()" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>
                    </td>
                  </tr>
                  {% set field_row = field_row + 1 %}
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="2"></td>
                  <td class="text-left"><button type="button" onclick="addField()" data-toggle="tooltip" title="{{ button_field_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                </tr>
              </tfoot>
            </table>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
              <div class="col-sm-10">
                <select name="module_gen_product_statistics_status" id="input-status" class="form-control">
                  {% if module_gen_product_statistics_status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                  {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% endif %}
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript"><!--
var field_value_row = {{ field_value_row }};

function addFieldValue(option_row) {
	html  = '<tr id="option-value-row' + field_value_row + '">';
	html += '  <td class="text-left"><select name="product_option[' + option_row + '][product_option_value][' + field_value_row + '][option_value_id]" class="form-control">';
	html += $('#field-values' + option_row).html();
	html += '  </select><input type="hidden" name="product_option[' + option_row + '][product_option_value][' + field_value_row + '][product_option_value_id]" value="" /></td>';
	html += '  <td class="text-right"><input type="text" name="product_option[' + option_row + '][product_option_value][' + field_value_row + '][quantity]" value="" placeholder="{{ entry_quantity }}" class="form-control" /></td>';
	html += '  <td class="text-left"><button type="button" onclick="$(this).tooltip(\'destroy\');$(\'#option-value-row' + field_value_row + '\').remove();" data-toggle="tooltip" rel="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
	html += '</tr>';

	$('#option-value' + option_row + ' tbody').append(html);
	$('[rel=tooltip]').tooltip();

	field_value_row++;
}
//--></script> 
{{ footer }}


  <script type="text/javascript"><!--
var field_row = {{ field_row }};

function addField() {
	html  = '<tr id="field-row' + field_row + '">';
	html += '  <td class="left">';
	html += '    <select name="statistic_field[field][' + field_row + ']" class="form-control">>';
  {% for field in fields %}
  html += '      <option value="{{ field.index }}">{{ field.index }}</option>';
  {% endfor %}
		html += '    </select>';
	html += '  </td>';
	html += '  <td class="left">';
	html += '    <input type="text" name="statistic_field[name][{{ field_row }}]" value="{{ field }}" placeholder="{{ entry_list_column_name }}" id="input-name" class="form-control" />';
	html += '  </td>';
	html += '  <td class="left">';
	html += '    <a onclick="$(\'#field-row' + field_row + '\').remove()" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></a>';
	html += '  </td>';
	html += '</tr>';

	$('#table_statistics tbody').append(html);

	field_row++;
}
//--></script> 