{% if typeWorks %}
	  <div style="margin-bottom:20px;">
    <img id="spainer" src="catalog/view/theme/default/image/spinner.gif" alt="spiner" />
		<canvas id="myChart"></canvas>
	  </div>
    <script>
    let tired = false;

window.addEventListener('scroll', () => {
  if (tired) return;
  tired = true;

  let url = 'https://cdn.jsdelivr.net/npm/chart.js';

  setTimeout(() => {
    genHtmlFromObject(url);
    console.log('Скрипт добавлен');
    setTimeout(()=>{
const ctx = document.getElementById('myChart');

		  new Chart(ctx, {
			type: 'bar',
			data: {
				labels: [{% for work in typeWorks %}'{{ work["title"] }}',{% endfor %}],
				datasets: [{
				data: [
					{% for work in typeWorks %}[{{ work["month_start"] }},{{ work["month_end"] }}],{% endfor %}
				],
				backgroundColor: [
				  {% for work in typeWorks %}'{{ work["color"] }}',{% endfor %}
				],
				borderWidth: 1,
				BorderRadius: 20
			  }]
			},
			options: {
			  indexAxis: 'y',
			  scales:{
				x:{
				  ticks:{
					stepSize: 1,
					callback: function(value, index, ticks) {
					  return value+'-й {{ viewTypeX }}';
					}
				  }
				 }
			  },
			  plugins: {
				legend: {display: 0},
				tooltip: {enabled:false},
			  }
			}
		  });
      const spiner=document.querySelector('#spainer');
      spiner.style.display='none';
    },{{ timeScript1 }}000);
    

  }, {{ timeScript2 }}000);

  function genHtmlFromObject(url) {


      let script = document.createElement('script');
      script.src = url;
      document.body.append(script);
    
  }
});
</script>
	  {%endif%}