{{ header }} 
<div class="container" id="introPanel">
	<div class="row">{{ column_left }} 
    	{% if (column_left and column_right) %} 
    		{% set class = 'col-sm-6' %} 
    	{% elseif (column_left or column_right) %} 
    		{% set class = 'col-sm-9' %} 
    	{% else %} 
    		{% set class = 'col-sm-12' %} 
    	{% endif %}
    	<div id="content" class="{{ class }}">{{ content_top }} 
    		<h2>{{ heading_title }}</h2>

      		<div id="calendar"></div>
	 
			{% if (not events) %} 
      			<p>{{ text_empty }}</p>
      		{% endif %}	
      		{{ content_bottom }} 
        </div>
   	 	{{ column_right }} 
    </div>
</div>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: '{{ rightColumnMenu }}'
      },
	  views: {
		  {% for key,value in textButton %} 
			{{ key }} : { buttonText: '{{ value }}'},
		{% endfor %}
      },
	  initialView: '{{ initialView }}',
      navLinks: true, // can click day/week names to navigate views
	  firstDay: '{{ firstDay }}',
	  locale: '{{ eventLocale }}',
	  dayMaxEvents: {{ dayMaxEvents }},
	  eventOrder: 'sort_order',
      events: [
		{% for event in events %} 	
	
			{% set new_from = event["explode_From"] %}
			{% set new_to = event["explode_To"] %}
			{
			title: '{{ event["mindescription"] }}',
			color: '{{ event["color"] }}',
			title: '{{ event["mindescription"] }}',
			url: '{{ event["href"] }}',
			start: '{{ new_to[0] ~ "-" ~ new_to[1] ~ "-"~new_to[2] ~ "T" ~ event["time_to"] }}',
			end: '{{ new_from[0] ~ "-" ~ new_from[1] ~"-" ~ new_from[2] ~ "T" ~ event["time_from"] }}',
			sort_order: '{{ event["sort_order"] }}'
			},
		{% endfor %}{}] 
    });

    calendar.render();
  });

</script>
{{ footer }}