<style>
	#openModal{{module_id}} .genpopup-content{
		border-radius:{{radius}}px;
		width:{{width}}px;
		height:{{height}}px;
		{{background}}
		
		}
</style>
<div id="openModal{{module_id}}" class="genpopup">
  <div class="genpopup-dialog">
    <div class="genpopup-content">
        <button class="genpopup-close">×</button>
        {{ content }}
    </div>
  </div>
</div>

<script>
	if ({{modalMobile}}==1){
		openModal();
	} else {
		if ($(window).width() >768 ){
			openModal();
		}//else{console.log('mobile not');}
	}
	function openModal(){
		let count={{viewed}};
		const modal{{module_id}}=setInterval(()=>{
			$('#openModal{{module_id}}').css("display","block");
			if ({{closeModal}}==0){
				$('#openModal{{module_id}} .genpopup-close').css('display','none');
				setTimeout(()=>{$('#openModal{{module_id}}').css('display','none');},{{ closeModalSecond }});
				addViewModule({{ module_id }});
				if({{cookie}}){
					setCookie({{ module_id }},count);
				}
			}
			clearInterval(modal{{module_id}});
		},{{ viewSecond }})
	}
	function setCookie(id,count){
		let value=[id,count];
		var date = new Date();
		date.setTime(date.getTime()+{{validity}}*24*60*60*1000);
		console.log(date);
		var expires = "; expires="+date.toGMTString();
		document.cookie = "genpopup_{{module_id}}="+value+expires;
	}
	
	function addViewModule(module_id){
		
		$.ajax({
			url: 'index.php?route=extension/module/genpopup/addView',
			type: 'post',
			data: {
				module_id: module_id
			},
			dataType: 'json',									
			success: function(json) { 
				console.log(json.message);
			},
			error: function(xhr, textStatus, errorThrown) {
				console.log(xhr.responseText);
			}			
		});
	}

	$('#openModal{{module_id}} .genpopup-close').click(function(){
		$('#openModal{{module_id}}').css("display","none");
		
		addViewModule({{ module_id }});
		if({{cookie}}){
			setCookie({{ module_id }},count);
		}
	});
</script>